<style>
    .v-zigzag {
  
  width:66%; margin:0 auto;
  height:50vh; text-align:center;
 
   /* derecha */
   background-image: linear-gradient(45deg, #EC173A 5px, transparent 0px), linear-gradient(135deg, #EC173A 5px, #FFF 0px);
    background-color: #EC173A;
    background-position: right top;
    background-repeat: repeat-y;
    background-size: 10px 10px;
}

    </style>
<div class="modal fade" id="bookasetModal" tabindex="-1" role="dialog"
aria-labelledby="bookasetModal" aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <button type="button" class="close modal-close-btn ml-auto" data-dismiss="modal"
            aria-label="Close" style="margin-right: 5%;
            margin-top: 5%;">
            <span aria-hidden="true">&times;</span>
        </button>
        <h5 style="text-align: center;border-bottom: 1px dashed #cecece;padding-bottom: 14px;color: red;font-size: x-large;font-weight: 700;">
            You Can Buy Complete Book Set
        </h5>
        <div class="product-details-modal" style="padding-top: 20px;">
           
                <div class="row" >
              
                <div class="col-md-12">
                    <a   href="/User/BookASet" class="place-order w-100" style="cursor: pointer;" >Send Enquiry</a>
                </div>
            </div>
        </div>
       
    </div>
</div>
</div>