<footer class="site-footer">
  <div class="container">
      <div class="row justify-content-between  section-padding">
          <div class=" col-xl-3 col-lg-4 col-sm-6">
              <div class="single-footer pb--40">
                  <div class="brand-footer footer-title">
                    <!-- <img src="image/logo--footer.png" alt=""> -->

                    <p style="font-weight: 900;font-size: 35px;font-family: sans-serif;color:#62ab00;margin-top: -8px;">  
                        Pustakein  </p>

                  </div>
                  <div class="footer-contact">
                      <p><span class="label"style="margin-top: -12px;">Address:</span><span class="text" style="margin-top: -11px;">Modi Complex, Chetak Bridge, Kasturba Nagar, Bhopal, Madhya Pradesh 462023</span></p>
                      <p><span class="label">Phone:</span><span class="text companynumber" ></span></p>
                      <p><span class="label">Email:</span><span class="text pustokemailid" ></span></p>
                  </div>
              </div>
          </div>
          <div class=" col-xl-3 col-lg-2 col-sm-6">
              <div class="single-footer pb--40" style="margin-left: 80px;margin-top: 15px;">
                  <div class="footer-title">
                      <h3>Information</h3>
                  </div>
                  <ul class="footer-list normal-list">
                      <li><a href="/Conditions">Conditions</a></li>
                      <li><a href="/ShippingPolicy">Shipping Policy</a></li>
                      <li><a href="/PrivacyPolicy">Privacy Policy</a></li>
                      <li><a href="/OrdersandReturn">Orders and Return</a></li>
                      <li><a href="/CancellationPolicy">Cancellation Policy</a></li>
                  </ul>
              </div>
          </div>
          <div class=" col-xl-3 col-lg-2 col-sm-6">
              <div class="single-footer pb--40" style="margin-left: 64px;margin-top: 15px;">
                  <div class="footer-title">
                      <h3>Extras</h3>
                  </div>
                  <ul class="footer-list normal-list">
                      <li><a href="/PaymentOption">Payment Option</a></li>
                      <li><a href="/TermsandConditions">Terms and Conditions</a></li>
                      <!-- <li><a href="">Blog</a></li> -->
                      <li><a href="/Contactus">Contact us</a></li>
                      <!-- <li><a href="/BooksEnquiry">Books Enquiry</a></li> -->
                  </ul>
              </div>
          </div>
          <div class=" col-xl-3 col-lg-4 col-sm-6">
        
              <button type="button" onclick="window.location='/User/BookASet'" class="btn btn-success" style="background-color:#62AB00;border-color:#62AB00;margin-top: 10px ;margin-left: 25px">COMPLETE SET</button>


      </div>
  </div>
  <div class="footer-bottom">
      <div class="container">
   
          <a href="#" class="payment-block">
              <!-- <img src="image/icon/payment.png" alt=""> -->
          </a>
          <p class="copyright-text">Copyright © Yowzatechies Private Limited, 2019
      </div>
  </div>
</footer>
