<div class="site-header header-3  d-none d-lg-block">
  <div class="header-middle pt--10 pb--10">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-lg-3">
                  <!-- <a href="/" class="site-brand">
                      <img src="image/logo.png" alt="">
                  </a> -->

                  <p style="font-weight: 900;font-size: 35px;font-family: sans-serif;color:#62ab00;cursor: pointer;" onclick="window.location='/'" class="titlename">  
                     </p>

              </div>
              <div class="col-lg-3">
                <div class="header-phone ">
                    
                    <div class="text">
                        <p>Free Support (10 AM- 7 PM)</p>
                        <p class="font-weight-bold number supportnumber"></p>
                      
                    </div>
                </div>
              </div>
              <div class="col-lg-2">
                <p style="font-size: 13px;margin-bottom: 0;"><strong>Delivery only in BHOPAL</strong>  </p>
                      
            </div>

            <div class="col-lg-1">
                <div class="main-navigation flex-lg-right" id="Profile">
                   </div>


                <!-- <p style="font-size: 13px;margin-bottom: 0;"><strong>Profile</strong>  </p> -->
                      
            </div>

              <div class="col-lg-3">
                  <div class="main-navigation flex-lg-right">
                      <div class="cart-widget">

                       
                          <div class="login-block">
                              <a href="" data-toggle='modal' data-target='#loginModal' class="font-weight-bold">Login</a> <br>
                          </div>

                       
                          <div class="cart-block">
                              <div class="cart-total">
                                 
                                  <a  href='/User/Cart' class="text-item" >
                                      Shopping Cart
                                  </a>
                                  <a  href='/User/Cart'  > <span class="text-number" id="cartqunatity">
                                    0
                                </span></a>
                                 
                              </div>
                         
                          </div>
                         
                     
                        
                        

                      </div>
                      <!-- @include('menu.htm') -->
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="header-bottom">
      <div class="container">
          <div class="row align-items-center" style="width:100%;">
              
              <div class="col-lg-10">
                  <div class="main-navigation flex-lg-right">
                      <ul class="main-menu menu-right li-last-0" id="navmenu">
                    
                      </ul>
                  </div>
              </div>
              <div class="col-lg-2">
                  <input type="button" onclick="window.location='/User/BookASet'" class="btn btn-red" value="Complete Set"/>
              </div>
             
          </div>
      </div>
  </div>
</div>
<div class="site-mobile-menu">
    <header class="mobile-header d-block d-lg-none pt--10 pb-md--10">
        <div class="container">
            <div class="row align-items-sm-end align-items-center">
                <div class="col-md-4 col-7">
                    <p style="font-size: 12px;margin-bottom: 0;"><strong>Delivery only in BHOPAL</strong>  </p>
                    <p style="font-weight: 900;font-size: 35px;font-family: sans-serif;color:#62ab00;cursor: pointer;" onclick="window.location='/'" class="titlename">  
                    </p>
                    
                </div>
                <div class="col-md-5 order-3 order-md-2">
                    <nav class="category-nav   ">
                        <div>
                            <input type="button" onclick="window.location='/User/BookASet'" class="btn btn-red" value="Complete Set"/>
                        </div>
                    </nav>
                </div>
                <div class="col-md-3 col-5  order-md-3 text-right">
                    <div class="mobile-header-btns header-top-widget">
                        <ul class="header-links">
                            <li class="sin-link">
                                <a href='/User/Cart' class="cart-link link-icon"><i class="ion-bag"></i></a>
                            </li>
                            <li class="sin-link">
                                <a href="javascript:" class="link-icon hamburgur-icon off-canvas-btn"><i
                                        class="ion-navicon"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--Off Canvas Navigation Start-->
    <aside class="off-canvas-wrapper">
        <div class="btn-close-off-canvas">
            <i class="ion-android-close"></i>
        </div>
        <div class="off-canvas-inner">
            <!-- mobile menu start -->
            <div class="mobile-navigation">
                <!-- mobile menu navigation start -->
                <nav class="off-canvas-nav" >
                    <ul class="mobile-menu main-mobile-menu" id="mobilemenu">

                        
                    </ul>
                </nav>
                <!-- mobile menu navigation end -->
            </div>
            <!-- mobile menu end -->
        </div>
    </aside>
    <!--Off Canvas Navigation End-->
</div>
<% include loginModal %>
