<div class="modal fade" id="loginModal" tabindex="-1" role="dialog"
aria-labelledby="loginModal" aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        
        <button type="button" class="close modal-close-btn ml-auto" data-dismiss="modal"
            aria-label="Close" style="margin-right: 5%;
            margin-top: 5%;">
            <span aria-hidden="true">&times;</span>
        </button>
        <h5 style="text-align: center;border-bottom: 1px dashed #cecece;padding-bottom: 14px;">
            Mobile Number Verification for Login
        </h5>
        <div class="product-details-modal" style="padding-top: 20px;">
            <div class="row" id="mobileDiv">
                <div class="col-12 mb--20">
                    <label for="email">Mobile Number</label>
                    <input class="mb-0 form-control" type="number" maxlength="10" onkeydown="if(event.keyCode==46||event.keyCode==69 ||event.keyCode==190||event.keyCode==187||event.keyCode==189){return false;}"  onpaste="onlyNumbers(event)"  onkeypress="if (this.value.length >= 10) { return false; };" id="mobilenumber" placeholder="Enter Your Mobile Number">
                </div>
              
                <div class="col-md-12">
                    <a  class="place-order w-100" style="cursor: pointer;" onclick="SendOTP('Verify');">Send OTP</a>
             </div>
            </div>
                <div class="row" style="display: none;" id="otpDiv">
                    <div class="col-12 mb--20" >
                        <label for="email">OTP</label>
                        <input class="mb-0 form-control" type="number" id="otptext" placeholder="Enter OTP">
                    </div>
               
                <div class="col-md-12">
                    <a  class="place-order w-100" style="cursor: pointer;" onclick="SendOTP('Match');">Verify</a>
                </div>
            </div>
        </div>
       
    </div>
</div>
</div>