<div class="modal fade modal-quick-view" id="quickModal" tabindex="-1" role="dialog"
aria-labelledby="quickModal" aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <button type="button" class="close modal-close-btn ml-auto" data-dismiss="modal"
            aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="product-details-modal">
            <div class="row">
                <div class="col-lg-5">
                    <!-- Product Details Slider Big Image-->
                    <div class="product-details-slider sb-slick-slider arrow-type-two"
                        data-slick-setting='{
"slidesToShow": 1,
"arrows": false,
"fade": true,
"draggable": false,
"swipe": false,
"asNavFor": ".product-slider-nav"
}'>
                        <div class="single-slide">
                            <img src="image/products/product-details-1.jpg" alt="" id="productimagmodal">
                        </div>
                    
                    </div>
                    <!-- Product Details Slider Nav -->
                
                </div>
                <div class="col-lg-7 mt--30 mt-lg--30">
                    <div class="product-details-info pl-lg--30 ">
                        <p class="tag-block">Language: <a href="#" id="languagemodal"></a></p>
                        <h3 class="product-title" id="productnamemodal"></h3>
                        <ul class="list-unstyled">
                            
                            <li>Availability: <span class="list-value font-weight-bold" id="productavailibiltiymodal">
                            </span></li>
                            <li style="display:none;"> ISBN No: <span class="list-value" id="isbnnomodal"> </span></li>
                            <li>Publisher: <span class="list-value" id="publishermodal"> </span></li>
                            <li>No. of Pages: <span class="list-value" id="noofpages"></span></li>
                            <li>Publication Year: <span class="list-value" id="publicationyearmodal"> </span></li>
                            <li>Binding: <span class="list-value" id="bindingmodal">
                            </span></li>
                            <li>Imprint: <span class="list-value" id="imprintmodal"> </span></li>
                            <li>Edition: <span class="list-value" id="editionmodal"> </span></li>
                            <li>Condition: <span class="list-value" id="conditionmodal"></span></li>
                            <li>Subject: <span class="list-value" id="subjectmodal"> </span></li>
                        
                        </ul>
                        <div class="price-block">
                            <span class="price-new" id="productpricemodal"></span>
                            <del class="price-old" style="display:none">£91.86</del>
                        </div>
                    
                        <article class="product-details-article">
                            <h4 class="sr-only">Product Description</h4>
                            <p id="productdescriptionmodal"></p>
                        </article>
                        <div class="add-to-cart-row" >
                            <div class="count-input-block">
                                <span class="widget-label">Qty</span>
                                <input type="number" id="productquantity" class="form-control text-center"
                            value="1" pattern = "^[1-9]{4}$"
                            >
                            </div>
                            <div class="add-cart-btn">
                                <a class="btn btn-outlined--primary" onclick="insUpdCard(this)"><span
                                        class="plus-icon">+</span>Add to Cart</a>
                                      </div>
                        
                        </div>
                        <div class="compare-wishlist-row" style="display:none">
                            <a href="" class="add-link"><i class="fas fa-heart"></i>Add to
                                Wish List</a>
                            <a href="" class="add-link"><i class="fas fa-random"></i>Add to
                                Compare</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="widget-social-share" style="display: none;">
                <span class="widget-label">Share:</span>
                <div class="modal-social-share">
                    <a href="#" class="single-icon"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="single-icon"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="single-icon"><i class="fab fa-youtube"></i></a>
                    <a href="#" class="single-icon"><i class="fab fa-google-plus-g"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>