<div class="modal fade" id="referenceModal" tabindex="-1" role="dialog"
aria-labelledby="loginModal" aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        
        <button type="button" class="close modal-close-btn ml-auto" data-dismiss="modal"
            aria-label="Close" style="margin-right: 5%;
            margin-top: 5%;">
            <span aria-hidden="true">&times;</span>
        </button>
        <h5 style="text-align: center;border-bottom: 1px dashed #cecece;padding-bottom: 14px;">
            Copy URL to share 
        </h5>
        <div class="product-details-modal" style="padding-top: 20px;">
            <div class="row" >
                <div class="col-12 mb--20">
                  
                    <input class="mb-0 form-control" type="text" id="textToCopy" value=""  >
                </div>
              
                <div class="col-md-12">
                    <a  class="place-order w-100" style="cursor: pointer;" onclick="copyToClipBoard()"  id="btnCopy">Copy To Clipboard</a>
             </div>
            </div>
              
        </div>
       
    </div>
</div>
</div>
<script>
    function copyToClipBoard() {
  /* Get the text field */
  var copyText = document.getElementById("textToCopy");

  /* Select the text field */
  copyText.select();
  copyText.setSelectionRange(0, 99999); /*For mobile devices*/

  /* Copy the text inside the text field */
  document.execCommand("copy");

  /* Alert the copied text */
 toastr.success('Copied the URL to Clipboard')
}
    </script>