<script src="/js/jquery-2.1.4.min.js"></script>
<script src="/js/plugins.js"></script>
<script src="/js/ajax-mail.js"></script>
<script src="/js/custom.js"></script>
<script src="/js/global.js"></script>
<script src="/js/js.cookie.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
<script src="/js/toastr.min.js"></script>
<script src="/customjs/Menu.js"></script>
<script src="/customjs/common.js"></script>
<script src="/customjs/User/login.js"></script>
<script type="text/javascript"  src="/js/smtp.js"></script>
<script type="text/javascript"  src="/customjs/Mail.js"></script>

<script>
    $(document).ready(function () {
        FetchMenu()
     });
</script>
<script>
    "use strict";
    
    !function() {
    var t = window.driftt = window.drift = window.driftt || [];
    if (!t.init) {
    if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
    t.invoked = !0, t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
    t.factory = function(e) {
    return function() {
    var n = Array.prototype.slice.call(arguments);
    return n.unshift(e), t.push(n), t;
    };
    }, t.methods.forEach(function(e) {
    t[e] = t.factory(e);
    }), t.load = function(t) {
    var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
    o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
    var i = document.getElementsByTagName("script")[0];
    i.parentNode.insertBefore(o, i);
    };
    }
    }();
    drift.SNIPPET_VERSION = '0.3.1';
    drift.load('5k4ay8zum98k');
    </script>
    <script>
if(!Cookies.get('tempUser')){
  Cookies.set('tempUser', Date.now(),{ expires: 3600 * 1000 * 24 * 365, path: '/' });
}
fetchShoppingCount();
$('.companynumber').html(companynumber);
$('.pustokemailid').html(pustokemail);
$('.supportnumber').html(supportnumber);
$('.titlename').html(titlename);
    </script>
 