<div class="modal fade" id="updbookasetmodal" tabindex="-1" role="dialog"
aria-labelledby="loginModal" aria-hidden="true" style="padding-right: 200px;"> 
<div class="modal-dialog" role="document">
    <div class="modal-content" style="width: 140%;">
        
        <button type="button" class="close modal-close-btn ml-auto" data-dismiss="modal"
            aria-label="Close" style="margin-right: 5%;
            margin-top: 5%;" onclick="resetMode()">
            <span aria-hidden="true">&times;</span>
        </button>
        <h5 style="text-align: center;border-bottom: 1px dashed #cecece;padding-bottom: 14px;">
            Update Status
        </h5>
        <div class="product-details-modal" style="padding-top: 20px;">
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label>Your Name <span style="color: red;">*</span></label>
                        <input type="text" id="username" maxlength="35" class="form-control"
                            >
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Your Mobile Number <span style="color: red;">*</span></label>
                    <input type="number"  onkeypress="if (this.value.length >= 10) { return false; };" id="mobilenumberenquiry"  class="form-control"
                            >
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Board<span style="color: red;">*</span></label>
                        <Select type="text" id="board" onchange="FillSchoolByBoard(this.value);FillClassByBoard(this.value)" class="form-control"></Select>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group">
                        <label>School<span style="color: red;">*</span></label>
                        <Select type="text" id="schoolddl"  class="form-control"></Select>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Class<span style="color: red;">*</span></label>
                        <Select type="text" id="classddl" onchange="FillSubject()" class="form-control"></Select>
                    </div>
                </div>
                <div class="col-lg-6" style="display: none;" id="subjectDiv">
                    <div class="form-group">
                        <label>Subject Set</label>
                        <Select type="text" id="subjectddl" class="form-control"></Select>
                    </div>
                </div>
                <div class="col-lg-6" >
                    <div class="form-group">
                        <label>Optional Subject</label>
                        <input type="text" id="optionalSubject" class="form-control" />
                    </div>
                </div>
              
                <div class="col-6 mb--20">
                    <label for="email"> Status </label>
                    <select class="mb-0 form-control" type="select"   id="status" >
                        <option value="0">Select Status</option>
                        <option value="Pending">Pending </option>
                        <option value="Recieved">Recieved </option>
                        <option value="Cancelled">Cancelled </option>
                        <option value="Delivered">Delivered</option>
                    </select>
                </div>
                <div class="col-6 mb--20" >
                    <label >Calling Date </label>
                    <input class="mb-0 form-control" type="type"   id="CallingDate" placeholder="Enter Date">
                        </div>

                <div class="col-6 mb--20 recievedDiv"  style="display: none;">
                    <label >Email Address </label>
                    <input class="mb-0 form-control" type="type"   id="EmailAddress" placeholder="Enter Email Address">
                        </div>
                        
                <div class="col-12 mb--20 recievedDiv"  style="display: none;">
                    <label > Address </label>
                    <input class="mb-0 form-control" type="type"   id="Address" placeholder="Enter Address">
                        </div>
                        <div class="col-6 mb--20 recievedDiv"  style="display: none;">
                            <label > Price </label>
                            <input class="mb-0 form-control" type="type"   id="bookPrice" placeholder="Enter Price">
                                </div> 

                                <div class="col-6 mb--20" id="recieved" style="display: none;">
                                    <label for="email"> Recieved Amount </label>
                                    <input class="mb-0 form-control" type="type"   id="RecievedAmount" placeholder="Enter Recieved Amount">
                                        </div>
                                        <div class="col-12 mb--20 recievedDiv" style="display: none;">
                                            <label > Vendor Price </label>
                                            <input class="mb-0 form-control" type="type"   id="vendorPrice" placeholder="Enter Vendor Price">
                                                </div>
              
                <div class="col-md-12">
                    <a  class="place-order w-100" style="cursor: pointer;" onclick="check()" >Update</a>
             </div>
              
        </div>
       
    </div>
</div>
</div>
</div><div></div>