
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Pustakein - Complete School Set Bhopal</title>
    <% include partials/head %>
    
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WZKX5Z8"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="site-wrapper" id="top">
        <% include partials/header %> 
     
        <section class="hero-area hero-slider-3">
            <div class="sb-slick-slider" data-slick-setting='{
                                                        "autoplay": true,
                                                        "autoplaySpeed": 8000,
                                                        "slidesToShow": 1,
                                                        "dots":true
                                                        }'>
                <div class="single-slide bg-image  bg-overlay--dark" data-bg="image/products/Web1366–2.png">
                    <div class="container">
                        <div class="home-content text-center">
                            <div class="row justify-content-end">
                                <div class="col-lg-6">
                                   
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-slide bg-image  bg-overlay--dark" data-bg="image/products/stationery.jpg">
                    <div class="container">
                        <div class="home-content pl--30">
                            <div class="row">
                                <div class="col-lg-6">
                                    
                                 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-slide bg-image  bg-overlay--dark" data-bg="image/products/pustakein.png">
                    <div class="container">
                        <div class="home-content pl--30">
                            <div class="row">
                                <div class="col-lg-6">
                                    
                                 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--=================================
        Home Category Gallery
    ===================================== -->
        <section class="pt--30 section-margin">
            <h2 class="sr-only">Category Gallery Section</h2>
            <div class="container">
                <div class="category-gallery-block">
                    <a href="#" class="single-block hr-large">
                        <img src="image/products/book-1.jpg" alt="" style="height: 395px;">
                    </a>
                    <div class="single-block inner-block-wrapper">
                        <a href="#" class="single-image mid-image">
                            <img src="image/products/book-2.jpg" alt="" style="height: 182px;width: 165px;">
                            <img src="image/products/book-6.jpg" alt="" style="height: 182px;width: 165px;margin-left: 5%;">
                        </a>
                        <a href="#" class="single-image small-image">
                            <img src="image/products/book-3.jpg" alt=""style="height: 182px;width: 165px;margin-left: -22%;">
                            <img src="image/products/book-7.jpg" alt="" style="height: 182px;width: 165px;margin-left: 6%;">

                        </a>
                        <a href="#" class="single-image small-image">
                            <img src="image/products/book-4.jpg" alt=""style="height: 182px;width: 165px;">
                            <img src="image/products/book-8.jpg" alt="" style="height: 182px;width: 165px;margin-left: 5%;">

                        </a>
                        <a href="#" class="single-image mid-image">
                            <img src="image/products/book-5.jpg" alt=""style="height: 182px;width: 165px;margin-left: -1%;">
                            <img src="image/products/book-9.jpg" alt="" style="height: 182px;width: 165px;margin-left: 6%;">

                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!--=================================
    ARTS & PHOTOGRAPHY BOOKS
===================================== -->
        <section class="section-margin">
            <div class="container">
                <div class="section-title section-title--bordered">
                    <h2>LATEST BOOKS</h2>
                </div>
                 <div id="LATESTBOOKS" class="slider multiple-items sb-slick-slider slider-border-single-row "  data-slick-responsive='[
                        {"breakpoint":1200, "settings": {"slidesToShow": 4} },
                        {"breakpoint":992, "settings": {"slidesToShow": 3} },
                        {"breakpoint":768, "settings": {"slidesToShow": 2} },
                        {"breakpoint":480, "settings": {"slidesToShow": 1} },
                        {"breakpoint":320, "settings": {"slidesToShow": 1} }
                    ]'  >
                    

                    
                 </div> 
            
            </div>
        </section>
        <!--=================================
    CHILDREN’S BOOKS
===================================== -->
          <section class="section-margin">  
            <div class="container">
                <div class="section-title section-title--bordered">
                    <h2>BEST SELLING BOOKS </h2>
                </div>
                <div class="slider multiple-items sb-slick-slider slider-border-single-row"  data-slick-responsive='[
                        {"breakpoint":1200, "settings": {"slidesToShow": 4} },
                        {"breakpoint":992, "settings": {"slidesToShow": 3} },
                        {"breakpoint":768, "settings": {"slidesToShow": 2} },
                        {"breakpoint":480, "settings": {"slidesToShow": 1} },
                        {"breakpoint":320, "settings": {"slidesToShow": 1} }
                    ]' id="BESTSELLINGBOOKS" >
                 
                  
                </div>
            </div>
        </section>   
       
     
        <section class="mb--30 space-dt--30">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-md-6 mt--30">
                        <div class="feature-box h-100">
                            <div class="icon">
                                <i class="fas fa-shipping-fast"></i>
                            </div>
                            <div class="text">
                                <h5>Free Shipping Item</h5>
                                <p> Orders over ₹ 2000</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 mt--30">
                        <div class="feature-box h-100">
                            <div class="icon">
                                <i class="fas fa-redo-alt"></i>
                            </div>
                            <div class="text">
                                <h5>Money Back Guarantee</h5>
                                <p>100% money back</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 mt--30">
                        <div class="feature-box h-100">
                            <div class="icon">
                                <i class="fas fa-piggy-bank"></i>
                            </div>
                            <div class="text">
                                <h5>Cash On Delivery</h5>
                                <p>Risk Free COD</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 mt--30">
                        <div class="feature-box h-100">
                            <div class="icon">
                                <i class="fas fa-life-ring"></i>
                            </div>
                            <div class="text">
                                <h5>Help & Support</h5>
                                <p>Call us : +917746958111</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
    <!--=================================
  Brands Slider
===================================== -->
  
    <!--=================================
    Footer Area
===================================== -->
<% include partials/ProductDetailModal %>
<% include partials/booksetModal %>

    <% include partials/footer %>
   
    <% include partials/script %>

    <script type="text/javascript"  src="/customjs/index.js"></script>
<script type="text/javascript"  src="/customjs/common.js"></script>

<script type="text/javascript" >
$(document).ready(function () {
   
    FetchLatestBooks()
FetchBESTSELLINGBOOKS()
setTimeout(function(){ $('#bookasetModal').modal('toggle');
insVisitorCount();
 }, 1000);

 });
 </script>

</body>

</html>