
<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Pustakein - Agent Registration</title>
	<% include ../../partials/head %>
	
    <style>
		.center1 {
		  text-align: center;
		}
		
		.pagination {
		  display: table-cell !important;
		}
		
		.pagination a {
		  color: black;
		  float: none;
		  padding: 8px 16px;
		  text-decoration: none;
		  transition: background-color .3s;
		  border: 1px solid #ddd;
		  margin: 4px 4px 4px 4px;
		}
		
		.pagination a.active {
		  background-color: #4CAF50;
		  color: white;
		  border: 1px solid #4CAF50;
		}
		
		.pagination a:hover:not(.active) {background-color: #ddd;}
		</style>
</head>

<body>
	<div class="site-wrapper" id="top">
        <% include ../../partials/header %>
		</div>
		<section class="breadcrumb-section">
			<h2 class="sr-only">Site Breadcrumb</h2>
			<div class="container">
				<div class="breadcrumb-contents">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/">Home</a></li>
							<li class="breadcrumb-item active">Agent Registration</li>
						</ol>
					</nav>
				</div>
			</div>
		</section>
		<div class="page-section inner-page-sec-padding">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="row">
							<!-- My Account Tab Menu Start -->
							<div class="col-lg-2 col-12">
							
							</div>
							<!-- My Account Tab Menu End -->
							<!-- My Account Tab Content Start -->
							<div class="col-lg-9 col-12 mt--30 mt-lg--0">
							
									<!-- Single Tab Content End -->
									<!-- Single Tab Content Start -->
										<div class="myaccount-content">
											<h3>Agent Details</h3>
											<div class="account-details-form">
											
													<div class="row">
														<div class="col-md-6 col-12 mb--20">
															
															<label>Agent Name</label>
															<input  id="agentfirstname" style="width: 100%;" placeholder="First Name">
														</div>
														
															<div class="col-md-6 col-12 mb--20">
															
																<label>Mobile Number</label>
																<input  id="agentmobilenumberuser"onkeypress="if (this.value.length >= 10) { return false; };" type="number" style="width: 100%;" placeholder="Mobile Number"/>
																
															</div>
														<div class="col-md-6 col-12 mb--20">
															<label>Email Address</label>
															<input type="text" id="agentemailaddress" placeholder="Email Address" >
														</div>
														
												
													</div>
												
														<div class="col-md-12 col-12 mb--20">
															<button class="btn btn--primary w-100" onclick="checkValidiation()" >Submit </button>
												
														</div>
														</div>
													</div>
											</div>
										</div>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


<% include ../../partials/referenceModal %>
<% include ../../pages/Vendor/table %>
<% include ../../partials/footer %>
<% include ../../partials/script %>
<script src="/customjs/Agent/AgentReg.js"></script>
<script src="/js/pagination.js"></script>

<script>
$(document).ready(function () {
    var HEADER=''
 HEADER+='<th>Sno.</th><th>Agent Name</th><th>Mobile Number</th><th>Email Address</th><th>Edit</th>'
$('#headerdetail').append(HEADER);
$('#headname').html('Agent Detail');
FetchAgent()

	// if(sessionStorage.Admin!='Y'){
    //         window.location='/';
    //     }
 });
 </script>
</body>

</html>