
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Pustakein - Book A Set</title>
    <% include ../../partials/head %>
</head>

<body>
    <div class="site-wrapper" id="top">
      
<% include ../../partials/header %>
   

        <section class="breadcrumb-section">
            <h2 class="sr-only">Site Breadcrumb</h2>
            <div class="container">
                <div class="breadcrumb-contents">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active">Complete Set</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </section>
        <!-- Cart Page Start -->
        <main class="contact_area inner-page-sec-padding-bottom">
            <div class="container">
               
                <div class="row">
                    <div class="col-lg-4 col-md-5 col-12">
                      
                    </div>
                    <div class="col-lg-5 col-md-7 col-12 mt--30 mt-md--0 feature-box h-100">
                        <div class="contact_form">
                            <h3 class="ct_title">Fill your Enquiry</h3>
                            <form    class="contact-form">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label>Your Name </label>
                                            <input type="text" id="username" maxlength="35" class="form-control"
                                                >
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label>Your Mobile Number </label>
                                        <input type="number"  onkeypress="if (this.value.length >= 10) { return false; };" id="mobilenumberenquiry"  class="form-control"
                                                >
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label>Board</label>
                                            <Select type="text" id="board" onchange="FillSchoolByBoard(this.value);FillClassByBoard(this.value); $('#booksetStatus').text('');
                                            $('#btnSubmit').text('Book Now');" class="form-control"></Select>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label>School</label>
                                            <Select type="text" id="schoolddl" onchange="checkAvailibility()"  class="form-control"></Select>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label>Class</label>
                                            <Select type="text" id="classddl" onchange="FillSubject();" class="form-control"></Select>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                          
                                       <span id="booksetStatus" style="font-size:17px"><span> </div>
                                    </div>
                                    <div class="col-lg-12" style="display: none;" id="subjectDiv">
                                        <div class="form-group">
                                            <label>Subject Set</label>
                                            <Select type="text" id="subjectddl" class="form-control"></Select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-btn">
                                            <button type="button" id="btnSubmit" onclick="checkValidiation()" class="btn btn-black"
                                              >Book Now</button>
                                        </div>
                                        <div class="form__output"></div>
                                    </div>
                                </div>
                            </form>
                            <div class="form-output">
                                <p class="form-messege"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt--60 "></div>
               
            </div>
        </main>
        <!-- Cart Page End -->
    </div>




    <div class="modal fade" id="bookasetModal2" tabindex="-1" role="dialog"
    aria-labelledby="bookasetModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="background-color: #62ab00;">
            <button type="button" class="close modal-close-btn ml-auto" data-dismiss="modal"
                aria-label="Close" style="margin-right: 5%;
                margin-top: 5%;">
                <span aria-hidden="true">&times;</span>
            </button>
            <h5 style="text-align: center;border-bottom: 1px dashed #cecece;padding-bottom: 14px;color:white">
                Successful
            </h5>
            <div class="product-details-modal" style="padding-top: 20px;">
               
                    <div class="row" >
                  
                    <div class="col-md-12">
                        <h5 style="text-align: center;border-bottom: 1px dashed #cecece;padding-bottom: 14px;color:white">
                            Your booking has been confirmed.<br> We will call you soon.  
                        </h5>
                    </div>
                   

                    <button type="button"  class="btn btn-success" data-dismiss="modal"
                    aria-label="Close" style="background-color:#aad176;border-color:#cff69b;margin-top: 10px ;margin-left: 130px">Close</button>

                </div>
            </div>
           
        </div>
    </div>
    </div>
    <div class="modal fade" id="bookasetVerificationModal" tabindex="-1" role="dialog"
    aria-labelledby="bookasetVerificationModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            
            <button type="button" class="close modal-close-btn ml-auto" data-dismiss="modal"
                aria-label="Close" style="margin-right: 5%;
                margin-top: 5%;">
                <span aria-hidden="true">&times;</span>
            </button>
            <h5 style="text-align: center;border-bottom: 1px dashed #cecece;padding-bottom: 14px;">
                Mobile Number Verification
            </h5>
            <div class="product-details-modal" style="padding-top: 20px;">
               
                    <div class="row"  >
                        <div class="col-12 mb--20" >
                            <label for="email">OTP</label>
                            <input class="mb-0 form-control" type="number" id="bookasetotptext" placeholder="Enter OTP">
                        </div>
                   
                    <div class="col-md-12">
                        <a  class="place-order w-100" style="cursor: pointer;" onclick="verifyMobileNumber()">Verify</a>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
    </div>
    <!--=================================
  Brands Slider
===================================== -->

    <!--=================================
    Footer Area
===================================== -->
   
<% include ../../partials/footer %>
   
<% include ../../partials/script %>
<script type="text/javascript"  src="/customjs/Mail.js"></script>
<script type="text/javascript"  src="/customjs/common.js"></script>

<script type="text/javascript"  src="/js/smtp.js"></script>
<script src="/customjs/User/BookaSet.js"></script>

<script>
	$(document).ready(()=>{
        FillSchoolBoard();
        FillClassByBoard('0');
        FillSchoolByBoard('7');
	});
</script>
</body>

</html>