
<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Pustakein - Cart</title>
    <% include ../../partials/head %>
</head>

<body>
	<div class="site-wrapper" id="top">
        <% include ../../partials/header %>
		<section class="breadcrumb-section">
			<h2 class="sr-only">Site Breadcrumb</h2>
			<div class="container">
				<div class="breadcrumb-contents">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/">Home</a></li>
							<li class="breadcrumb-item active">Cart</li>
						</ol>
					</nav>
				</div>
			</div>
		</section>
		<!-- Cart Page Start -->
		<main class="cart-page-main-block inner-page-sec-padding-bottom">
			<div class="cart_area cart-area-padding  ">
				<div class="container">
					<div class="page-section-title">
						<h1>Shopping Cart</h1>
					</div>
					<div class="row">
						<div class="col-12">
							<form action="#" class="">
								<!-- Cart Table -->
								<div class="cart-table table-responsive mb--40">
									<table class="table">
										<!-- Head Row -->
										<thead>
											<tr>
												<th class="pro-remove"></th>
												<th class="pro-thumbnail">Image</th>
												<th class="pro-title">Product</th>
												<th class="pro-price">Price</th>
												<th class="pro-quantity">Quantity</th>
												<th class="pro-subtotal">Total</th>
											</tr>
										</thead>
										<tbody id="carttablebody">
										
										
										</tbody>
									</table>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="cart-section-2">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-12 mb--30 mb-lg--0">
						
						</div>
						<!-- Cart Summary -->
						<div class="col-lg-6 col-12 d-flex">
							<div class="cart-summary">
								<div class="cart-summary-wrap">
									<h4><span>Cart Summary</span></h4>
									<p>Sub Total <span class="text-primary" id="subtotaltocheckout"></span></p>
									<p>Shipping Cost <span class="text-primary" id="shippingcosttocheckout"></span></p>
									<h2>Grand Total <span class="text-primary" id="grandtotaltocheckout"></span></h2>
								</div>
								<div class="cart-summary-button">
									<a href="/User/Checkout" class="checkout-btn c-btn btn--primary">Checkout</a>
									<button class="checkout-btn c-btn btn--primary" style="width: 60%;"
									onclick="window.history.back()">Continue Shopping</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		<!-- Cart Page End -->
	</div>
	
	
    <% include ../../partials/footer %>
    <% include ../../partials/script %>
    <script src="/customjs/User/Cart.js"></script>
<script>
	$(document).ready(()=>{
        fetchUserCart();
	});
</script>
</body>

</html>