
<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Pustakein - Checkout</title>
	<% include ../../partials/head %>
	<style>
		.radio-wrapper input[type='radio'] {
			width: auto;
			margin: 0;
  			vertical-align: middle;
		}
	</style>
</head>

<body>
	<div class="site-wrapper" id="top">
			
        <% include ../../partials/header %>
		<section class="breadcrumb-section">
			<h2 class="sr-only">Site Breadcrumb</h2>
			<div class="container">
				<div class="breadcrumb-contents">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/">Home</a></li>
							<li class="breadcrumb-item active">Checkout</li>
						</ol>
					</nav>
				</div>
			</div>
		</section>
		<main id="content" class="page-section inner-page-sec-padding-bottom space-db--20">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<!-- Checkout Form s-->
						<div class="checkout-form">
							<div class="row row-40">
								<div class="col-12">
									<h1 class="quick-title">Checkout</h1>
									<!-- Slide Down Trigger  -->
									<div class="checkout-quick-box" id="loginClick" style="display: none;">
										<p><i class="far fa-sticky-note"></i>Returning customer? <a href="javascript:"
												class="slide-trigger" data-toggle="modal" data-target="#loginModal">Click
												here to login</a></p>
									</div>
								
									<!-- Slide Down Trigger  -->
									<div class="checkout-quick-box">
										<p><i class="far fa-sticky-note"></i>Have a coupon? <a href="javascript:"
												class="slide-trigger" data-target="#quick-cupon">
												Click here to enter your code</a></p>
									</div>
									<!-- Slide Down Blox ==> Cupon Box -->
									<div class="checkout-slidedown-box" id="quick-cupon">
										<form action="./">
											<div class="checkout_coupon">
												<input type="text" class="mb-0" placeholder="Coupon Code">
												<a href="" class="btn btn-outlined">Apply coupon</a>
											</div>
										</form>
									</div>
								</div>
								<div class="col-lg-7 mb--20">
									<!-- Billing Address -->
									<div id="billing-form" class="mb-40">
										<h4 class="checkout-title">Shipping Address</h4>
										<div class="row">
											<div class="col-md-6 col-12 mb--20">
												<label>First Name</label>
												<input type="text" id="firstname" maxlength="15" onclick="alphabet()"placeholder="First Name" onkeypress="if (this.value.length >= 15) {return (event.keyCode ==8); return false; }else{return (event.charCode > 64 && 
													event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)||(event.keyCode ==8) }" onfocusout="getvalidated('firstname','text','First Name');">
												<span id="validfirstname" style="font-size: 11px; color: #cc0033; "></span>

											</div>
											<div class="col-md-6 col-12 mb--20">
												<label>Last Name</label>
												<input type="text" id="lastname" maxlength="15" onclick="alphabet()" placeholder="Last Name" onkeypress="if (this.value.length >= 15) {return (event.keyCode ==8); return false; }else{return (event.charCode > 64 && 
													event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)||(event.keyCode ==8) }" onfocusout=" getvalidated('lastname','text','Last Name');">
												<span id="validlastname" style="font-size: 11px; color: #cc0033; "></span>

											</div>
											<div class="col-md-6 col-12 mb--20">
												<label>Email Address</label>
												<input type="email" id="emailaddress" maxlength="50" placeholder="Email Address" onfocusout="  getvalidated('emailaddress','email','Email Address');">
												<span id="validemailaddress" style="font-size: 11px; color: #cc0033; "></span>

											</div>
											<div class="col-md-6 col-12 mb--20">
												<label>Mobile number</label>
												<input type="number"  maxlength="10" onkeydown="if(event.keyCode==46||event.keyCode==69 ||event.keyCode==190||event.keyCode==187||event.keyCode==189){return false;}"  onpaste="onlyNumbers(event)"  onfocusout="getvalidated('Phone','number','Mobile Number')"
												 onkeypress="if (this.value.length >= 10) { return false; };" id="mobilenumberuser" placeholder="Mobile number"
												 onfocusout="getvalidated('mobilenumberuser','number','Mobile Number');">
												<span id="validmobilenumberuser" style="font-size: 11px; color: #cc0033; "></span>
											</div>
											 

											<div class="col-12 mb--20">
												<label>Address</label>
												<input type="text" id="useraddress" maxlength="250" placeholder="Address" onfocusout="getvalidated('useraddress','text','Address');">
												<span id="validuseraddress" style="font-size: 11px; color: #cc0033; "></span>
											</div>

											<div class="col-12 col-12 mb--20" style="display: none;">
												<label>Country</label>
												<select class="nice-select" id="Country"></select>
												<span id="validExamPassed" style="font-size: 11px; color: #cc0033; "></span>
											</div>
											<div class="col-md-6 col-12 mb--20">
												<label>Town/City</label>
												<select class="nice-select" id="City" disbaled>
													<option value="1">Bhopal</option>
												</select>
											</div>
											<div class="col-md-6 col-12 mb--20" style="display: none;">
												<label>State*</label>
												<select class="nice-select" id="State"></select>
											</div>
											<div class="col-md-6 col-12 mb--20">
												<label>Postal Code</label>
												<input type="number" maxlength="6" id="postcode" placeholder="Postal Code" 
												onkeypress="if (this.value.length >= 6) { return false; };" onfocusout="getvalidated('postcode','number','Postal Code');">
												<span id="validpostcode" style="font-size: 11px; color: #cc0033; "></span>
											</div>
										
										</div>
									</div>
									<!-- Shipping Address -->
								
								</div>
								<div class="col-lg-5">
									<div class="row">
										<!-- Cart Total -->
										<div class="col-12">
											<div class="checkout-cart-total">
												<h2 class="checkout-title">YOUR ORDER</h2>
												<h4>Product <span>Total</span></h4>
												<ul id="productlistcheckout">
													
												</ul>
												<p>Sub Total <span id="subtotaltocheckoutbill"></span></p>
												<p>Shipping Fee <span id="shippingcosttocheckoutbill"></span></p>
												<h4>Grand Total <span id="grandtotaltocheckoutbill"></span></h4>
											
												<div class="term-block">
													<div class="col-12 mb--20 ">
														<div class="col-12">
															<div class="col-12 radio-wrapper">
																<input type="radio" name="paymentMode" id="cashondelivery" value="Fee on Delivery" checked>
																<label for="cashondelivery" style="word-break: break-word;">Fee on Delivery</label>
																<p>(Cash, Paytm,Google Pay,Phone Pay)</p>
															</div>
															<div class="col-12 radio-wrapper">
																<input type="radio" name="paymentMode" id="onlinepayment" value="Online Payment" disabled>
																<label for="onlinepayment">Online Payment (Currently Inactive)</label>
															</div>
														</div>
													</div></div>
												<button class="place-order w-100" onclick="checkValidiation()">Place order</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>
	<!--=================================
  Brands Slider
===================================== -->
	

    	
    <% include ../../partials/footer %>
    <% include ../../partials/script %>
	<script src="/customjs/User/Checkout.js"></script>
	<script src="/js/global.js"></script>
    <script>
        $(document).ready(()=>{
			
			fetchCheckoutBill();
			if(!Cookies.get('permUserId')){
				$('#loginClick').show();
					
			}
			else{
				FetchUserDetail();		
				}
			
        });
    </script>
</body>

</html>