
<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Pustakein - Dashboard</title>
	<% include ../../partials/head %>
</head>

<body>
	<div class="site-wrapper" id="top">
		<% include ../../partials/header %>
		<section class="breadcrumb-section">
			<h2 class="sr-only">Site Breadcrumb</h2>
			<div class="container">
				<div class="breadcrumb-contents">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/">Home</a></li>
							<li class="breadcrumb-item active">My Account</li>
						</ol>
					</nav>
				</div>
			</div>
		</section>
		<div class="page-section inner-page-sec-padding">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="row">
						
							<div class="col-lg-3 col-12">
								<div class="myaccount-tab-menu nav" role="tablist">
									<a href="#dashboad" class="active" data-toggle="tab"><i
											class="fas fa-tachometer-alt"></i>
										Dashboard</a>
									<a href="#orders" data-toggle="tab"><i class="fa fa-cart-arrow-down"></i> Orders</a>
								    <a href="/" onclick="Cookies.remove('permUserId');Cookies.remove('username')"><i class="fas fa-sign-out-alt"></i> Logout</a>
								</div>
							</div>
						
							<div class="col-lg-9 col-12 mt--30 mt-lg--0">
								<div class="tab-content" id="myaccountContent">
									<!-- Single Tab Content Start -->
									<div class="tab-pane fade show active" id="dashboad" role="tabpanel">
										<div class="myaccount-content">
											<h3>Dashboard</h3>
											<div class="welcome mb-20">
												<p>Hello, <strong id="FirstName"></strong> (If Not You <a href="/" onclick="Cookies.remove('permUserId')" class="logout">
														Logout</a>)</p>
											</div>
											<p class="mb-0">From your account dashboard. you can easily check &amp; view
												your
												recent orders, manage your shipping  addresses and edit your
												 account details.</p>
										</div>
									</div>
								
									<div class="tab-pane fade" id="orders" role="tabpanel">
										<div class="myaccount-content">
											<h3>Orders</h3>
											<div class="myaccount-table table-responsive text-center">
												<table class="table table-bordered">
													<thead class="thead-light">
														<tr>
															<th>No</th>
															<th>Name</th>
															<th>Date</th>
															<th>Status</th>
															<th>Total</th>
															<th>Action</th>
														</tr>
													</thead>
													<tbody id="ordertablebody">
													
													
													</tbody >
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<% include ../../partials/footer %>
    <% include ../../partials/script %>
    <script src="/customjs/User/Dashboard.js"></script>
    <script>
        $(document).ready(()=>{
			fetchDashboard();
			fetchOrders();
		
        });
    </script>
</body>

</html>