
<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Pustakein - Invoice</title>
    <% include ../../partials/head %>
</head>

<body>
	<div class="site-wrapper" id="top">
        <% include ../../partials/header %>
		<section class="breadcrumb-section">
			<h2 class="sr-only">Site Breadcrumb</h2>
			<div class="container">
				<div class="breadcrumb-contents">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/">Home</a></li>
							<li class="breadcrumb-item active">Order Complete</li>
						</ol>
					</nav>
				</div>
			</div>
		</section>

		<!-- order complete Page Start -->
		<section class="order-complete inner-page-sec-padding-bottom">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="order-complete-message text-center"  id="thankyouDiv"
						style="display: none;">
							<h1>Thank you !</h1>
							<p>Your order has been received.</p>
						</div>
						<ul class="order-details-list">
                            <li>Name: <strong id="name"></strong></li>
							<li>Phone no.: <strong id="phoneno"></strong></li>
							<li>Address: <strong id="address"></strong></li>

							<li>Order Number: <strong id="ordernumber"></strong></li>
							<li>Date: <strong id="date"></strong></li>
							<li>Total: <strong id="total"></strong></li>
							<li>Payment Method: <strong id="paymentmethod"></strong></li>
						</ul>
						<h3 class="order-table-title">Order Details</h3>
						<div class="table-responsive">
							<table class="table order-details-table" id="OrderDetail">
							
							</table>
						</div>
					</div>
				</div>
			</div>
		</section>
	
<% include ../../partials/footer %>
<% include ../../partials/script %>
	<script src="customjs/User/Invoice.js"></script>
<script type="text/javascript"  src="/customjs/common.js"></script>

	<script type="text/javascript" >
		$(document).ready(function () {
			FetchInvoiceDetail()
		 });
		 </script>

</body>

</html>