
<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Pustakein - Product List</title>
    <% include ../../partials/head %>
</head>

<body>
    <div class="site-wrapper" id="top">
    <% include ../../partials/header %>
    </div>
		<section class="breadcrumb-section">
			<h2 class="sr-only">Site Breadcrumb</h2>
			<div class="container">
				<div class="breadcrumb-contents">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/">Home</a></li>
							<li class="breadcrumb-item active">Shop</li>
						</ol>
					</nav>
				</div>
			</div>
		</section>
		<main class="inner-page-sec-padding-bottom">
			<div class="container">
				<div class="row">
					<div class="col-lg-9 order-lg-2">
						<div class="shop-toolbar with-sidebar mb--30">
							<div class="row align-items-center">
								<!-- Product View Mode -->
									<H5 id="head"></H5>
							
								
							</div>
						</div>
						
						<div class="shop-product-wrap grid with-pagination row space-db--30 shop-border" id="productcards">
						
							
						</div>
						<!-- Pagination Block -->
					
						<!-- Modal -->
						<% include ../../partials/ProductDetailModal %>
					</div>
					<div class="col-lg-3  mt--40 mt-lg--0">
						<div class="inner-page-sidebar">
							<!-- Accordion -->
							<div class="single-block">
								<h3 class="sidebar-title">Categories</h3>
								<ul class="sidebar-menu--shop" id="boardcategories">
								
								</ul>
							</div>
							<!-- Price -->
							
							<!-- Promotion Block -->
							
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>

    <% include ../../partials/footer %>
	<!-- Use Minified Plugins Version For Fast Page Load -->
<% include ../../partials/script %>
<script src="/customjs/User/ProductList.js"></script>
<script>
	$(document).ready(()=>{
		fetchProductList();
		fetchCategories() ;
	});
</script>
</body>

</html>