
<!DOCTYPE html>
<html lang="zxx">

<head>
    <% include ../../partials/head %>
</head>

<body>
    <div class="site-wrapper" id="top">
      
<% include ../../partials/header %>
   

        <section class="breadcrumb-section">
            <h2 class="sr-only">Site Breadcrumb</h2>
            <div class="container">
                <div class="breadcrumb-contents">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active">Book Enquiry</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </section>
        <!-- Cart Page Start -->
        <main class="contact_area inner-page-sec-padding-bottom">
            <div class="container">
               
                    
                   
                    
                    <div class="row">
                        <div class="col-lg-6">
                            <p><strong>Buy CBSE, ICSE & State Board Textbooks in at the Cheapest Prices!</strong></p>
                            <p><strong>Enquire about any Schoolbooks, Get Doorstep Delivery.</strong></p>
                            <p>Pustakein.com was commissioned subsequently as an online bookstore to deal in online shopping of school books. The range of books covers right across ICSE, CBSE, and other State Boards of study. Today the reach of Pustakein.com has been broadened far and wide. They are unique in more ways than one. Our portal has the widest range of school books at the lowest price. Delivery is usually within 48 hours with 24x7 support.</p>
                            <p>If you want to enquire about any school book(s), we would be glad to help. If you are unable to find a book on our portal, but in need if that, we will ensure fast delivery. Get in touch by calling us or filling up the form, and we will get back ASAP.</p>

                            </div>
                   
                 
                  
                            <div class="col-lg-6">
                            
                    <div class=" col-12 mt--30 mt-md--0 feature-box h-100">
                        <div class="contact_form">
                            <h3 class="ct_title">Send Us a Message</h3>
                            <form id="contact-form" action="php/mail.php" method="post" class="contact-form">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label>Your Name <span class="required">*</span></label>
                                            <input type="text" id="con_name" name="con_name" class="form-control"
                                                required>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label>Your Email <span class="required">*</span></label>
                                            <input type="email" id="con_email" name="con_email" class="form-control"
                                                required>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label>Your Phone*</label>
                                            <input type="text" id="con_phone" name="con_phone" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label>Your Location <span class="required">*</span></label>
                                            <input type="email" id="con_email" name="con_email" class="form-control"
                                                required>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label>Requirement (Specify Quantity)</label>
                                            <textarea id="con_message" name="con_message"
                                                class="form-control"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-btn">
                                            <button type="submit" value="submit" id="submit" class="btn btn-black"
                                                name="submit">send</button>
                                        </div>
                                        <div class="form__output"></div>
                                    </div>
                                </div>
                            </form>
                            <div class="form-output">
                                <p class="form-messege"></p>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
                <div class="row mt--60 "></div>
                
            </div>
        </main>
        <!-- Cart Page End -->
    </div>
    <!--=================================
  Brands Slider
===================================== -->

    <!--=================================
    Footer Area
===================================== -->
   
  
<% include ../../partials/footer %>
   
<% include ../../partials/script %>

</body>

</html>