
<!DOCTYPE html>
<html lang="zxx">

<head>

    <% include ../../partials/head %>
</head>

<body>
	<div class="site-wrapper" id="top">
        <% include ../../partials/header %>

		<section class="breadcrumb-section">
			<h2 class="sr-only">Site Breadcrumb</h2>
			<div class="container">
				<div class="breadcrumb-contents">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/">Home</a></li>
							<li class="breadcrumb-item active">Cancellation Policy </li>
						</ol>
					</nav>
				</div>
			</div>
		</section>
		<!--=============================================
    =            Login Register page content         =
    =============================================-->
		<main class="page-section inner-page-sec-padding-bottom">
			<div class="container">
				<div class="row">
                    <div class="myaccount-content">
                        
                        <div class="welcome mb-20">
                           <p><strong>Cancellation Policy:</strong></p>
                        </div>
                       <p>Once an order is placed it cannot be cancelled unless the circumstances are exceptional. Please provide your “Order ID” along with the “Book Title”to enable us to correlate your transaction. You can call us at +917746958111

						or send mail at pustakeinapp@gmail.com within 24 hours after placing your order.</p>
                       <p> 

                        In cases where an order is cancelled, the payment gateway charges incurred by pustakeinapp@gmail.com will be deducted from the customer’s payment and the customer will get refund for the remaining amount. When any customer requests for cancellation of an order cancellation charges up to 15% on order value / product value will be applicable on case to case basis. For any further queries please feel free to contact us on mail at pustakeinapp@gmail.com .</p>
                
                        
                    </div>
				</div>
			</div>
		</main>
	</div>


<% include ../../partials/footer %>
   
    <% include ../../partials/script %>
</body>

</html>