
<!DOCTYPE html>
<html lang="zxx">

<head>

    <% include ../../partials/head %>
</head>

<body>
	<div class="site-wrapper" id="top">
        <% include ../../partials/header %>

		<section class="breadcrumb-section">
			<h2 class="sr-only">Site Breadcrumb</h2>
			<div class="container">
				<div class="breadcrumb-contents">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/">Home</a></li>
							<li class="breadcrumb-item active">Conditions</li>
						</ol>
					</nav>
				</div>
			</div>
		</section>
		<!--=============================================
    =            Login Register page content         =
    =============================================-->
		<main class="page-section inner-page-sec-padding-bottom">
			<div class="container">
				<div class="row">
                    <div class="myaccount-content">
                        <h3>Conditions</h3>
                        <div class="welcome mb-20">
                            <p><strong>FREE SHIPPING </strong> </p>
                        </div>
                        <p >Free Shipping on Orders Above ₹ 2000/-</p>
                        <p>To take advantage, simply:</p>
                        <ul class="order-details-list">
                            <li>Ensure free shipping is available for your delivery destination using our Pin code Checker.</li>
                      <li>Add minimum order ₹ 2000/ worth of items to your cart.</li>
                      <li>Select Standard Delivery.</li>
                      <li>Submit your order.</li>
                        </ul>
                        <p><strong>ORDER RETURN </strong> </p>
                        <p >Once an order is placed it cannot be cancelled unless the circumstances are exceptional. Please provide your “Order ID” along with the “Book Title” to enable us to correlate your transaction.  To know more click </p>
                        <p><strong>COD </strong> </p>
                        <p><strong>What is “Cash on Delivery”?</strong> </p>
                        <P>If you are not comfortable making an online payment on pustakeinapp@gmail.com, you can opt for the Cash on Delivery (C-O-D) payment method instead. With C-O-D you can pay in cash at the time of actual delivery of the product at your doorstep, without requiring you to make any advance payment online. The minimum order value for a Cash on Delivery (C-O-D) payment is ₹500 /-.</P>
                        <p><strong>Cash on Delivery Policy</strong> </p>
                        <P>pustakeinapp@gmail.com provides you the option to pay Cash on Delivery across all major parts of the country. This is how it works. </P>
                        <ul class="order-details-list">
                            <li>You place an order on the website and enter your address during checkout.</li>
                            <li> Cash on delivery is available for a minimum order amount of Rs. 500/ (Five Hundred Rupees) - excluding shipping charges.</li>
                            <li>Since we ship through courier companies, we can only provide cash on delivery in limited number of pin codes.</li>
                            <li>If Cash on Delivery is not available in your area, you can still process by paying via Credit Card/ Debit Card/ Net banking.</li>
                            <li>After you place an order, an automated SMS / Email is sent to you to confirm your order. If you do not respond, a customer service representative will call you within the next 24-48 hours to confirm your order. Please make sure you answer the call and confirm the order.  Alternatively, you can also confirm the order yourself by calling us at 00-000-000-0000 (along with your Order Number).</li>
                            <li>After above mentioned processed your order will be proceed for deliver and you will receive the tracking number and the courier name as soon as it’s shipped. You can track the shipment and make sure it’s received by you.</li>
                            <li>At the time of delivery, you will have to hand over the cash to the delivery person first, only then you will be handed over the package. Please note that the courier companies do not allow you to open the package at the time of delivery. We have a return policy in case you would like to return the products.  To know more click URL</li>
                            <li>In case the shipment is not accepted, you will no longer be eligible to avail cash on delivery facility on our website.</li>
                        </ul>
                        <p><strong>Things to keep in mind when buying items through Cash on Delivery </strong> </p>
                        <ul class="order-details-list">
                            <li>Buyers can only avail of COD facility for those items that are available for purchase with COD as a payment option.</li>
                            <li>No item priced below Rs. 500 (Five Hundred Rupees) will be available for purchase through Cash on Delivery.</li>
                            <li>The courier company will contact the buyer so as to confirm the delivery date and time. The buyer should ensure being available at the time of delivery along with the transaction amount in cash.</li>
                            <li>The buyer can not open the package before submitting the transaction amount to the courier agent.</li>
                        </ul>
                    </div>
				</div>
			</div>
		</main>
	</div>


<% include ../../partials/footer %>
   
    <% include ../../partials/script %>
</body>

</html>