
<!DOCTYPE html>
<html lang="zxx">

<head>
    <% include ../../partials/head %>
</head>

<body>
    <div class="site-wrapper" id="top">
      
<% include ../../partials/header %>
   

        <section class="breadcrumb-section">
            <h2 class="sr-only">Site Breadcrumb</h2>
            <div class="container">
                <div class="breadcrumb-contents">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active">Contact</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </section>
        <!-- Cart Page Start -->
        <main class="contact_area inner-page-sec-padding-bottom">
            <div class="container">
                <div class="row "></div>
                <div class="row "></div>
                <div class="row "></div>
                <div class="row ">
                    <div class="col-lg-4 col-md-6 mb-lg--60 mb--30">
                      <div class="blog-card card-style-grid">
                        <i class="fas fa-mobile-alt" style="font-size:-webkit-xxx-large;padding-left: 148px;COLOR:darkgray"></i>
                      </br>
                        <div class="card-content">
                          <h2 class="title" style="padding-left: 128px;padding-top: 21px;"><strong>PHONE</strong></h2>
                          <p class="post-meta" style="padding-left: 86px;">Phone - +917746958111</a></p>
                         
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-lg--60 mb--30">
                      <div class="blog-card card-style-grid">
                        <i class="fas fa-map-marker-alt" style="font-size:-webkit-xxx-large;padding-left: 148px;color: darkgray;"></i>
                         
                        <div class="card-content">
                            <h2 class="title" style="padding-left: 128px;padding-top: 21px;"><strong>ADDRESS</strong></h2>
                          <p  style="padding-left:71px">Modi Complex, HNo 59 F 2 1st,<br>
                         Chetak Bridge, Sector B, Kasturba Nagar,<br>
                          Bhopal, Madhya Pradesh  462023 </p>
                      
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-lg--60 mb--30">
                      <div class="blog-card card-style-grid">
                        <i class="far fa-envelope" style="font-size:-webkit-xxx-large;padding-left: 148px;COLOR:darkgray"></i>
                         
                        <div class="card-content">
                            <h2 class="title" style="padding-left: 146px;padding-top: 21px;"><strong>EMAIL</strong></h2>
                          <p class="post-meta" style="padding-left: 104px;">pustakeinapp@gmail.com</p>
                      
                        </div>
                      </div>
                    </div>
                   
                 
                  </div>
                <div class="row mt--60 ">
                    <div class="col-lg-4 col-md-5 col-12">
                      
                    </div>
                    <div class="col-lg-5 col-md-7 col-12 mt--30 mt-md--0 feature-box h-100">
                        <div class="contact_form">
                            <h3 class="ct_title">Send Us a Message</h3>
                            <form id="contact-form" action="php/mail.php" method="post" class="contact-form">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label>Your Name <span class="required" style="color: red;">*</span></label>
                                            <input type="text" id="con_name" name="con_name" class="form-control" onfocusout="getvalidated('con_name','text','Your Name');">
                                            <span id="validcon_name" style="font-size: 11px; color: #cc0033; "></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label>Your Email <span class="required" style="color: red;">*</span></label>
                                            <input type="email" id="con_email" name="con_email" class="form-control" onfocusout="getvalidated('con_email','email','Your E-mail');">
                                            <span id="validcon_email" style="font-size: 11px; color: #cc0033; "></span>

                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label>Your Phone<span class="required" style="color: red;">*</span></label>
                                            <input type="text" id="con_phone" maxlength="10"  name="con_phone" class="form-control" onfocusout="getvalidated('con_phone','number','Your Phone');">
                                            <span id="validcon_phone" style="font-size: 11px; color: #cc0033; "></span>

                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label>Your Message<span class="required" style="color: red;">*</span></label>
                                            <textarea id="con_message" name="con_message" onfocusout="getvalidated('con_message','text','Your Message');"
                                                class="form-control"></textarea>
                                                <span id="validcon_message" style="font-size: 11px; color: #cc0033; "></span>

                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-btn">
                                            <button type="submit" value="submit" id="submit" class="btn btn-black"
                                            onclick="check()"    name="submit">send</button>
                                        </div>
                                        <div class="form__output"></div>
                                    </div>
                                </div>
                            </form>
                            <div class="form-output">
                                <p class="form-messege"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt--60 "></div>
              
            </div>
        </main>
        <!-- Cart Page End -->
    </div>


    
    <style>
        .v-zigzag {
      
      width:66%; margin:0 auto;
      height:50vh; text-align:center;
     
       /* derecha */
       background-image: linear-gradient(45deg, #EC173A 5px, transparent 0px), linear-gradient(135deg, #EC173A 5px, #FFF 0px);
        background-color: #EC173A;
        background-position: right top;
        background-repeat: repeat-y;
        background-size: 10px 10px;
    }
    
        </style>
    <div class="modal fade" id="contactusmodal" tabindex="-1" role="dialog"
    aria-labelledby="bookasetModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="background-color: #62ab00;">
            <button type="button" class="close modal-close-btn ml-auto" data-dismiss="modal"
                aria-label="Close" style="margin-right: 5%;
                margin-top: 5%;">
                <span aria-hidden="true">&times;</span>
            </button>
            <h5 style="text-align: center;border-bottom: 1px dashed #cecece;padding-bottom: 14px;color:white">
                Successful
            </h5>
            <div class="product-details-modal" style="padding-top: 20px;">
               
                    <div class="row" >
                  
                    <div class="col-md-12">
                        <h5 style="text-align: center;border-bottom: 1px dashed #cecece;padding-bottom: 14px;color:white">
                            Your Query has been sent<br> We will contact you soon.  
                        </h5>
                    </div>
                   

                    <button type="button"  class="btn btn-success" data-dismiss="modal"
                    aria-label="Close" style="background-color:#aad176;border-color:#cff69b;margin-top: 10px ;margin-left: 130px">Close</button>

                </div>
            </div>
           
        </div>
    </div>
    </div>
    <!--=================================
  Brands Slider
===================================== -->

    <!--=================================
    Footer Area
===================================== -->
   
  
<% include ../../partials/footer %>
   
<% include ../../partials/script %>

<script type="text/javascript"  src="/js/smtp.js"></script>
<script type="text/javascript"  src="/js/global.js"></script>
<script type="text/javascript"  src="/js/toastr.min.js"></script>
<script type="text/javascript"  src="/customjs/common.js"></script>
<script type="text/javascript"  src="/customjs/Mail.js"></script>
<script type="text/javascript"  src="/customjs/Contactus.js"></script>

<script type="text/javascript" >
$(document).ready(function () {
   
});


</script>
</body>

</html>