
<!DOCTYPE html>
<html lang="zxx">

<head>

    <% include ../../partials/head %>
</head>

<body>
	<div class="site-wrapper" id="top">
        <% include ../../partials/header %>

		<section class="breadcrumb-section">
			<h2 class="sr-only">Site Breadcrumb</h2>
			<div class="container">
				<div class="breadcrumb-contents">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/">Home</a></li>
							<li class="breadcrumb-item active">Payment Option </li>
						</ol>
					</nav>
				</div>
			</div>
		</section>
		<!--=============================================
    =            Login Register page content         =
    =============================================-->
		<main class="page-section inner-page-sec-padding-bottom">
			<div class="container">
				<div class="row">
                
                        
                       
                            <ul class="order-details-list">
                                <li><strong>What are the payment options to pay online on Pustakein.com ?</strong></li>
                                </ul>
                       <p>We offer multiple methods to make payments for your order: Credit Card, Debit Card, American Express, Net Banking, Demand Draft / Cheque. All Credit / Debit card details remain confidential and private.</p>
                       <ul class="order-details-list">
                           <li><strong>Are there any hidden charges when I make a purchase on Pustakein.com?</strong></li>
                       </ul>
                       <p>There is no Hidden Charges.</p>
                       <ul class="order-details-list">
                           <li><strong>It is safe to use my credit / debit card on purchase of books from Pustakein.com?</strong></li>
                           </ul>
                           <p>Use of your credit / debit card when it comes to purchasing books online from Pustakein.com is as safe as safety itself would like it to be. The process undergoes the highest level of transaction security that is available on the internet as on this day. For your kind information,  Pustakein.com has already put in place a 256 BIT encrypton technology primarily to honour the secrecy of the information of your card while transmitting the same to the different banks for the purpose of completing payment formalities.</p>
                           <p>All payments to Pustakein.com  either by way of credit cards or by way of debit cards are processed through such gateways managed by the leading banks that are secured and enjoy a proven track record of trustworthiness. Presently, the banks use the 3D secured password services for online transactions that provide an additional layer of security through identity verification.</p>
                           <ul class="order-details-list">
                               <li><strong>Debit Cards Accepted</strong></li>
                               <li>AXIS Bank Debit Card (VISA)</li>
                               <li>Canara Bank Debit Card</li>
                               <li>Citibank Debit Card</li>
                               <li>Corporation Bank Debit Card (VISA)</li>
                               <li>ABN AMRO Bank Debit Card (VISA )</li>
                               <li>HDFC Bank Debit Card (VISA )</li>
                               <li>ICICI Bank Debit Card</li>
                               <li>Indian Overseas Bank Debit Card (VISA)</li>
                               <li>ING Vyasa Bank Debit Card (VISA)</li>
                               <li>Karur Vysya Bank Debit Card (VISA)</li>
                               <li>Punjab National Bank Debit Card</li>
                               <li>State Bank of India Debit Card</li>
                               <li>Internet Banking</li>
                               </ul>
                               <P><strong>We accept payment through Internet Banking for the following banks:</strong></P>
                               <ul class="order-details-list">
                                <li>ABN AMRO Bank</li>
                                <li>AXIS Bank</li>
                                <li>Bank Of India</li>
                                <li>Bank Of Rajasthan</li>
                                <li>Citibank Bank</li>
                                <li>Corporation Bank</li>
                                <li>Federal Bank</li>
                                <li>HDFC Bank</li>
                                <li>ICICI Bank</li>
                                <li>IDBI Bank</li>
                                <li>IndusInd Bank</li>
                                <li>Jammu & Kashmir Bank</li>
                                <li>Karur Vysya Bank</li>
                                <li>Kotak Mahindra Bank</li>
                                <li>Oriental Bank Of Commerce</li>
                                <li>Punjab National Bank</li>
                                <li>State Bank Of India</li>
                                <li>Union Bank Of India</li>
                                <li>Vijaya Bank</li>
                                <li>YES BANK</li>
                                </ul>


                    

                
                        
                  
				</div>
			</div>
		</main>
	</div>


<% include ../../partials/footer %>
   
    <% include ../../partials/script %>
</body>

</html>