
<!DOCTYPE html>
<html lang="zxx">

<head>

    <% include ../../partials/head %>
</head>

<body>
	<div class="site-wrapper" id="top">
        <% include ../../partials/header %>

		<section class="breadcrumb-section">
			<h2 class="sr-only">Site Breadcrumb</h2>
			<div class="container">
				<div class="breadcrumb-contents">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/">Home</a></li>
							<li class="breadcrumb-item active">Privacy Policy </li>
						</ol>
					</nav>
				</div>
			</div>
		</section>
		<!--=============================================
    =            Login Register page content         =
    =============================================-->
		<main class="page-section inner-page-sec-padding-bottom">
			<div class="container">
				<div class="row">
                    <div class="myaccount-content">
                        <h3>Privacy Policy</h3>
                        <div class="welcome mb-20">
                           <p><strong>Information We Collect</strong></p>
                        </div>
                        <p>We recognize your right to confidentiality and are committed to protecting your privacy. We use the information that we collect on our site to provide you with a superior shopping experience.</p>
                       <p><strong>Security</strong></p>
                       <p>When you place an order online, your personal information and credit card information are encrypted using SSL encryption technology before being sent over the Internet, making it virtually impossible for your information to be stolen or intercepted while being transferred to Pushtokien. Your credit card information is always stored in encrypted form in a database that is away from our Web site database so it isn't connected to the Internet, and is therefore safe from hackers.</p>
                       <p><strong>Cookies</strong></p>
                       <p>To personalize your experience at both Pushtokien we may use a feature on your Internet browser called a cookie. Cookies are small files that your Web browser places on your computer's hard drive. We use cookies to let us know that you are a prior customer and to retrieve certain information previously provided by you to us, so that you do not need to re-enter this information every time you shop at the site. Cookies also let us know how you found us (e.g., through a particular web site or advertisement). Cookies are not used to access information entered on the secure server. This information can only be accessed when you enter your name and password. If you choose to configure your browser to remove or reject Pushtokien cookies, you will not be able to make purchases from the Pushtokien site.</p>
                       <p><strong>Web Beacons</strong></p>
                       <p>In addition, from time to time we may contract with third party companies to help us better provide relevant products and services to you. Some of these companies use Web beacons (also known as action tags or single pixel gifs). A Web beacon is a transparent image that has been placed on a Web page and sends a signal when a user has visited that page. A Web beacon does not contain any personal information.</p>
                       <p><strong>Unsolicited E-mail (SPAM)</strong></p>
                       <p>Your privacy is very important to us. Be assured that, in accordance with our Privacy Policy, Pushtokien does not sell or distribute our customer list to third parties. You should be aware, however, that unscrupulous marketers can sometimes 'harvest' your email address directly from your computer or another person's address book or even obtain your email address through programs that automatically search web pages and email traffic for email addresses. Please note that all email that originates from Pushtokien will either display the Pushtokien logo (HTML emails) or contain the Pushtokien copyright notice (text emails). If you receive an unsolicited email that you believe is connected with Pushtokien in any way, please forward the e-mail (as an enclosure) to pustakeinapp@gmail.com and we will investigate.</p>
                       <p><strong>Your Consent</strong></p>
                       <p>By using our Web site, you consent to the collection, use, and disclosure of information by Pushtokien and to the terms of this privacy policy. If we ever change our privacy policy, we will post any changes on this page so that you are always aware of the information that we collect, how we use it, and under what circumstances we disclose it. If we were to make a material change to our privacy policy, we will either post a notice on our Web site or send you an e-mail.</p>
                       <p><strong>Your Comments</strong></p>
                       <p>We welcome your feedback. If you have questions or comments about our privacy policies, feel free to drop us e-mail at pustakeinapp@gmail.com </p>

                
                        
                    </div>
				</div>
			</div>
		</main>
	</div>


<% include ../../partials/footer %>
   
    <% include ../../partials/script %>
</body>

</html>