
<!DOCTYPE html>
<html lang="zxx">

<head>

    <% include ../../partials/head %>
</head>

<body>
	<div class="site-wrapper" id="top">
        <% include ../../partials/header %>

		<section class="breadcrumb-section">
			<h2 class="sr-only">Site Breadcrumb</h2>
			<div class="container">
				<div class="breadcrumb-contents">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/">Home</a></li>
							<li class="breadcrumb-item active">Shipping Policy</li>
						</ol>
					</nav>
				</div>
			</div>
		</section>
		<!--=============================================
    =            Login Register page content         =
    =============================================-->
		<main class="page-section inner-page-sec-padding-bottom">
			<div class="container">
				<div class="row">
                    <div class="myaccount-content">
                        <h3>Shipping Policy</h3>
                        <div class="welcome mb-20">
                            <p>Shipping charges Rs. / flat. Delivery Period: Based on the pin code of your delivery address, you will receive the order in 7 to 10 working days. Payment Acceptance Method:</p>

                        </div>
                        <ul class="order-details-list">
                            <li>All major Credit Cards / Debit Cards</li>
                            <li>Bank wiring</li>
                            <li>Cash on delivery</li>
                            <li>Cheque / DD (in case of cheque the order will be dispatched only after clearance of cheque)</li>
                        </ul>
                        <p>Generally the item is shipped within two working days from our warehouse to our logistics partner who in turn may take up to a maximum of 7 to 10 days in (urban areas) and 7 to 12 days in (rural areas) to reach your doorstep depending on the place of delivery. Please note that no shipments will be made on Sundays and public holidays. An extra shipping time will be taken to dispatch execute the bulk order than the standard time given above. You will be notified by an email within 24 hours about the time taken and dispatch of books.</p>
                        <p>An email will be sent to you on shipment of your order. This will contain the order number, tracking number and details of your order. Once an order is placed, if there are any changes in the shipping address, it has to be informed to our customer service with 24 hrs of placing the order. There are no hidden costs or additional shipping charges. The price mentioned on the website is the final price. What you see is what you pay.</p>
                        <p>We don't deliver internationally. We deliver within India. </p>
                        
                    </div>
				</div>
			</div>
		</main>
	</div>


<% include ../../partials/footer %>
   
    <% include ../../partials/script %>
</body>

</html>