
<!DOCTYPE html>
<html lang="zxx">

<head>

    <% include ../../partials/head %>
</head>

<body>
	<div class="site-wrapper" id="top">
        <% include ../../partials/header %>

		<section class="breadcrumb-section">
			<h2 class="sr-only">Site Breadcrumb</h2>
			<div class="container">
				<div class="breadcrumb-contents">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/">Home</a></li>
							<li class="breadcrumb-item active">Terms and Conditions</li>
						</ol>
					</nav>
				</div>
			</div>
		</section>
		<!--=============================================
    =            Login Register page content         =
    =============================================-->
		<main class="page-section inner-page-sec-padding-bottom">
			<div class="container">
				<div class="row">
                
                        
                       <p> We are honoured by your visit and assure you of our sincere efforts to provide the best of the services. It is our honest endeavour to see that our customers receive the best services and in our bid to do so we also request our customers to please go through our terms and conditions carefully. If you visit and/or use the services offered by  Pustakein.com it is taken that you understand and accept the conditions set hereunder.</p>
                       <p>The contents of this site,  Pustakein.com are electronically generated. All our communication with you would be in electronic form - either by e-mails or by posting notices and messages on the website, and you agree to receive and accept all communications related to services offered by  Pustakein.com </p>
                       <p> 
                        You can visit and make personal use of this site and services. However, you are barred from downloading or modifying any portion of the website including images. This site or any portion of this site may not be reproduced, duplicated, copied, sold, resold, visited, or otherwise exploited for any commercial purpose without the written consent of  Pustakein.com.
                        You agree to provide a valid e-mail address and create an account with password and at  Pustakein.com in order to take services from  Pustakein.com You are also responsible for maintaining your account and protect account password and for restricting access to your computer, and agree to accept responsibility for all activities that occur under your account or password.</p>
                        <p>You may post reviews, comments, submit suggestions, ideas, questions, etc, so long as the contents are not illegal, obscene, threatening, defamatory, invasive of privacy, infringing of intellectual property rights, or otherwise injurious to third parties or objectionable and do not consist of or contain software viruses, political and commercial campaigning, mass mailings, or any form of "spam".</p>
                        <p>If you do post content or submit material, and unless we indicate otherwise, you grant  Pustakein.com a nonexclusive, royalty-free, perpetual, irrevocable, and fully sub-licensable right to use, reproduce, modify, adapt, publish, translate, distribute, and display such contents throughout the world in any form.</p>
                        <p> Pustakein.com has the right but not the obligation to monitor and edit or remove any activity or content.  Pustakein.com takes no responsibility and assumes no liability for any content posted by you or any third party. All items purchased from  Pustakein.com are subject to a shipment contract. This means that the risk of loss and title for such items pass to you upon our delivery to the carrier and we are not liable for the same thereafter.</p>
                        <p> Pustakein.com attempt to provide as accurate a description as possible. However,  Pustakein.com cannot guarantee that product descriptions or other contents of this site including the product prices are accurate, complete, reliable, current, or error-free. If a product offered by  Pustakein.com is not as described, you may return it, in unused condition, for a full refund as governed by the existing Refund policy of the  Pustakein.com </p>
                        <p><strong>Disputes</strong></p>
                        <p> 
                            Any dispute or claim relating in any way to your visit to Pustakein.com or to products you purchase through Pustakein.com only be in the jurisdiction of the Courts of Kolkata. Arbitration under this agreement shall be conducted under the rules and prevailing Laws. The arbitrator's award shall be binding and may be entered as a judgment in any court of competent jurisdiction. To the fullest extent permitted by applicable law, no arbitration under this Agreement shall be joined to an arbitration involving any other party subject to this Agreement, whether through class arbitration proceedings or otherwise.</p>

                       <p><strong>Applicable Law</strong></p>
                      <p>By visiting Pustakein.com, you agree that the laws of INDIA, without regard to principles of conflict of laws, will govern these Conditions of Use and any dispute of any sort that might arise between you and Pustakein.com.</p>
                      <p><strong>Site Policies</strong></p>
                      <p>We reserve the right to make changes to our site policies, and the Terms and Conditions of Use at any time. If any of these conditions shall be deemed invalid, void, or for any reason unenforceable, that condition shall be deemed severable and shall not affect the validity and enforceability of any remaining condition.</p>
                      <p><strong>Disclaimer of Warranties and Limitations of Liability</strong></p>
                      <p>THIS SITE IS PROVIDED BY Pustakein.com,  ON AN "AS IS" AND "AS AVAILABLE" BASIS. Pustakein.com MAKES NO REPRESENTATIONS OR WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, AS TO THE OPERATION OF THIS SITE OR THE INFORMATION, CONTENT, MATERIALS, OR PRODUCTS INCLUDED ON THIS SITE. YOU EXPRESSLY AGREE THAT YOUR USE OF THIS SITE IS AT YOUR OWN RISK.</p>
                      <p>TO THE FULL EXTENT PERMISSIBLE BY APPLICABLE LAW, Pustakein.com DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE. Pustakein.com DOES NOT WARRANT THAT THIS SITE, ITS SERVERS, OR E-MAIL SENT FROM Pustakein.com ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. Pustakein.com WILL NOT BE LIABLE FOR ANY DAMAGES OF ANY KIND ARISING FROM THE USE OF THIS SITE, INCLUDING, BUT NOT LIMITED TO DIRECT, INDIRECT, INCIDENTAL, PUNITIVE, AND CONSEQUENTIAL DAMAGES.</p>
                      <p><strong>Discount and offers</strong></p>
                      <p>Pustakein.com offers discounts which are mentioned and keep changing on Pustakein.com website. We also offer discounts over bulk orders which assist business houses, libraries, schools, government agencies and other institutions.</p>
                      <P><strong>Discount Coupons</strong></P>
                      <p>Apart from the discounts, we offer a discount coupon offering a minimum of 5% Discount to maximum 30% Discount. The discount coupons cannot be clubbed with existing offers.</p>

                      <p>Privacy Policy: Privacy policy is defined separately in this website.<br>
                    
                        Refund policy: Refund Policy is defined separately in this website.</p>

				</div>
			</div>
		</main>
	</div>


<% include ../../partials/footer %>
   
    <% include ../../partials/script %>
</body>

</html>