
<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Pustakein - Add Product</title>
	<% include ../../partials/head %>
	
</head>

<body>
	<div class="site-wrapper" id="top">
        <% include ../../partials/header %>
		</div>
		<section class="breadcrumb-section">
			<h2 class="sr-only">Site Breadcrumb</h2>
			<div class="container">
				<div class="breadcrumb-contents">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/">Home</a></li>
							<li class="breadcrumb-item active">My Account</li>
						</ol>
					</nav>
				</div>
			</div>
		</section>
		<div class="page-section inner-page-sec-padding">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="row">
							<!-- My Account Tab Menu Start -->
							<div class="col-lg-2 col-12">
							
							</div>
							<!-- My Account Tab Menu End -->
							<!-- My Account Tab Content Start -->
							<div class="col-lg-9 col-12 mt--30 mt-lg--0">
							
									<!-- Single Tab Content End -->
									<!-- Single Tab Content Start -->
										<div class="myaccount-content">
											<h3>ADD PRODUCT</h3>
											<div class="account-details-form">
												
													<div class="row">
														<div class="col-md-6 col-12 mb--20">
															
																<label>Board*</label>
																<select  id="boarddl" style="width: 100%;" onchange="FillBoardwiseClass(this.value)">
																</select>
															</div>
															<div class="col-md-6 col-12 mb--20">
															
																<label>Class*</label>
																<select  id="classddl" style="width: 100%;">
																</select>
															</div>
														<div class="col-md-6 col-12 mb--20">
															<label>Product Name*</label>
															<input type="text" id="productname" placeholder="Product Name" >
														</div>
														<div class="col-md-6 col-12 mb--20">
															<label>Price*</label>
															<input type="text" id="price" placeholder="Price">
														</div>
														<div class="col-md-6 col-12 mb--20">
															<label>Availability Name</label>
															<select class="nice-select" id="availaibility">
																<option>In a Stock</option>
																<option>Out of Stock</option>
															
															</select></div>
															<div class="col-md-6 col-12 mb--20">
																<label>Author Name*</label>
																<input type="text" id="authorname" placeholder="Author Name">
															</div>
														<div class="col-md-6 col-12 mb--20">
															<label>ISBN No</label>
															<input type="number" placeholder="ISBN No" id="isbnno">
														</div>
														<div class="col-md-6 col-12 mb--20">
															<label>Publisher</label>
															<input type="text" placeholder="Publisher" id="publisher">
														</div>
														<div class="col-6 mb--20">
															<label>Number of Pages</label>
															<input type="number" placeholder="Number of Pages" id="noofpages">
														
														</div>
														<div class="col-md-6 col-12 mb--20">
															<label>Publication Year</label>
															<input type="text" placeholder="Publication Year" id="publicationyear">
														</div>
														<div class="col-md-6 col-12 mb--20">
															<label>Binding</label>
															<input type="text" placeholder="Binding" id="binding">
														</div>
														<div class="col-md-6 col-12 mb--20">
															<label>Imprint</label>
															<input type="text" placeholder="Imprint" id="imprint">
														</div>
														<div class="col-6 mb--20">
															<label>Edition</label>
															<input type="text" placeholder="Edition" id="edition">
														
														</div>
														<div class="col-md-6 col-12 mb--20">
															<label>Condition</label>
															<input type="text" placeholder="Condition" id="condition">
														</div>
														<div class="col-md-6 col-12 mb--20">
															<label>Subject</label>
															<select  id="subject" style="width: 100%;">
															</select>
															
														</div>
														<div class="col-md-6 col-12 mb--20">
															<label>Language</label>
															<input type="text" placeholder="Language" id="language">
														</div>
														<div class="col-md-6 col-12 mb--20">
															<label>Product Description</label>
															<input type="text" placeholder="Product Description" id="productdescription">
														</div>
														<div class="col-md-6 col-12 mb--20">
															
															   
															<form class="m-form" 
															method="post" action="/Admin/AddProduct" id="upload" >
															<input type="submit" id="postattach"
															class="btn btn-success" 
															style="background-color:#716aca;border-color:#716aca;display:none" placeholder="Submit">
															
													  
														 
															<input type="file" name="myFiles" style="border:0px;    margin-top: 8%"
															   onclick="Cookies.set('modaltype', 'image', { expires: 1, path: '/' });" multiple/>
															</form>
														</div>
														<div class="col-md-6 col-12 mb--20">
														
																<div class="checkout-form check-bx-wrapper">
																	<div class="check-box">
																		<input type="checkbox" id="activestatus">
																		<label for="activestatus" style="font-size: 14px;font-family: 'Open Sans', sans-serif;
																		font-weight: 400">Active</label>
																	</div>
																	
																</div>
														</div>
													
														<div class="col-md-12 col-12 mb--20">
															<button class="btn btn--primary w-100" onclick="$('#postattach').click()">Submit</button>
												
														</div>
														</div>
													</div>
											</div>
										</div>
									
									<!-- Single Tab Content End -->
								</div>
							</div>
							<!-- My Account Tab Content End -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--=================================
  Brands Slider
===================================== -->
	
	<!--=================================
    Footer Area
===================================== -->
<% include ../../partials/footer %>
	<!-- Use Minified Plugins Version For Fast Page Load -->
<% include ../../partials/script %>
<script src="/customjs/Admin/AddProduct.js"></script>
<script>
$(document).ready(function () {
	FetchMaxproductId();
	//FillBoardwiseClass('classddl');
	FillBoard('boarddl');
	FillBoardwiseClass('5');
	FillSubject();
	if(sessionStorage.Admin!='Y'){
            window.location='/';
        };

 });
 </script>
</body>

</html>