
<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Pustakein - Admin Create Order</title>
	<% include ../../partials/head %>
	
</head>

<body>
	<div class="site-wrapper" id="top">
        <% include ../../partials/header %>
		</div>
		<section class="breadcrumb-section">
			<h2 class="sr-only">Site Breadcrumb</h2>
			<div class="container">
				<div class="breadcrumb-contents">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/">Home</a></li>
							<li class="breadcrumb-item active">Create Order</li>
						</ol>
					</nav>
				</div>
			</div>
		</section>
		<div class="page-section inner-page-sec-padding">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="row">
							<!-- My Account Tab Menu Start -->
							<div class="col-lg-2 col-12">
							
							</div>
							<!-- My Account Tab Menu End -->
							<!-- My Account Tab Content Start -->
							<div class="col-lg-9 col-12 mt--30 mt-lg--0">
							
									<!-- Single Tab Content End -->
									<!-- Single Tab Content Start -->
										<div class="myaccount-content">
											<h3>Create Order</h3>
											<div class="account-details-form">
												<h5>User Detail</h5>
													<div class="row">
														<div class="col-md-6 col-12 mb--20">
															
															<label>First Name</label>
															<input  id="firstname" style="width: 100%;" placeholder="First Name">
														</div>
														<div class="col-md-6 col-12 mb--20">
															
															<label>Last Name</label>
															<input  id="lastname" style="width: 100%;" placeholder="Last Name">
														</div>
															<div class="col-md-6 col-12 mb--20">
															
																<label>Mobile Number</label>
																<input  id="mobilenumberuser" type="number" style="width: 100%;" placeholder="Mobile Number"/>
																
															</div>
														<div class="col-md-6 col-12 mb--20">
															<label>Email Address</label>
															<input type="text" id="emailaddress" placeholder="Email Address" >
														</div>
														<div class="col-md-6 col-12 mb--20">
															<label>Address</label>
															<input type="text" id="useraddress" placeholder="Address">
														</div>
													</div>
														<h5>Order Detail</h5>
														<div class="row mainrow">
														<div class="row addproductrow" style="width: 100%;">
															<div class="col-md-6 col-12 mb--20">
															
																<label>Board</label>
																<select  id="board0" class="boarddl" onchange='FillBoardwiseClass(this.value,"0")' style="width: 100%;">
																</select>
															</div>
															<div class="col-md-6 col-12 mb--20">
															
																<label>Class</label>
																<select  id="class0" onchange="FillBoardClassProduct('0')" class="ddlclass" style="width: 100%;">
																</select>
															</div>
															<div class="col-md-6 col-12 mb--20">
															
																<label>Books</label>
																<select  id="product0" style="width: 100%;">
																</select>
															</div>
															<div class="col-md-3 col-12 mb--20">
															
																<label>Quantity</label>
																<input  id="quantity0" type='number' onfocusout="setAmount()" style="width: 100%;" />
																
															</div>
															<div class="col-md-3 col-12 mb--20">
															
																	<button class="btn btn--primary w-100" style=" margin-top: 18%;background-color: black;" onclick="addNewProductRow()" >Add More </button>
												
															</div>
														</div>
													</div>
														<h5>Amount Detail</h5>
														<div class="row">
															<div class="col-md-4 col-12 mb--20">
															
																<label>Sub Total</label>
																<input  id="subtotal" style="width: 100%;" disabled>
															
															</div>
															<div class="col-md-4 col-12 mb--20">
															
																<label>Shipping Charge</label>
																<input  id="shippingcharge" style="width: 100%;" disabled>
																
															</div>
															<div class="col-md-4 col-12 mb--20">
															
																<label>Total</label>
																<input  id="total" style="width: 100%;" disabled>
																
															</div>
														</div>
														<div class="col-md-12 col-12 mb--20">
															<button class="btn btn--primary w-100" onclick="checkValidiation()" >Create </button>
												
														</div>
														</div>
													</div>
											</div>
										</div>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<% include ../../partials/footer %>
<% include ../../partials/script %>
<script src="/customjs/Admin/CreateOrder.js"></script>
<script>
$(document).ready(function () {

	FillBoard('0');
	FillBoardwiseClass('6','0');
	FillBoardClassProduct('0');
	sessionStorage.subtotal=0;
	if(sessionStorage.Admin!='Y'){
            window.location='/';
        }
 });
 </script>
</body>

</html>