
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Pustakein - Order Records</title>
    <% include ../../partials/head %>

    <style>
		.center1 {
		  text-align: center;
		}
		
		.pagination {
		  display: table-cell !important;
		}
		
		.pagination a {
		  color: black;
		  float: none;
		  padding: 8px 16px;
		  text-decoration: none;
		  transition: background-color .3s;
		  border: 1px solid #ddd;
		  margin: 4px 4px 4px 4px;
		}
		
		.pagination a.active {
		  background-color: #4CAF50;
		  color: white;
		  border: 1px solid #4CAF50;
		}
		
		.pagination a:hover:not(.active) {background-color: #ddd;}
		</style>
</head>

<body>
    <div class="site-wrapper" id="top">
      
<% include ../../partials/header %>
   

        <section class="breadcrumb-section">
            <h2 class="sr-only">Site Breadcrumb</h2>
            <div class="container">
                <div class="breadcrumb-contents">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active">Records</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </section>
        <!-- Cart Page Start -->
        <!-- <main class="contact_area inner-page-sec-padding-bottom"> -->
            <div class="page-section inner-page-sec-padding">
            <div class="container">
				<div class="row">
					<div class="col-12">
						<div class="row">
							
							<!-- My Account Tab Menu End -->
                            <div class="col-lg-12 col-12 mt--30 mt-lg--0">
								<div class="tab-content" id="myaccountContent">
									
									<div class="tab-pane fade active show" id="orders" role="tabpanel">
										<div class="myaccount-content">
											<h3>Book A Set</h3>
											<div class="myaccount-table table-responsive text-center">

                                                <div class="account-details-form">
											
													<div class="row">
														<div class="col-md-4 col-12 mb--20">
															
															<label style="margin-right: 85%;">Status</label>
                                                            <select  id="vendorname" class="nice-select" onchange="FetchBookaset(this.value)" style="width: 100%;">
                                                             <option value=" ">Select Status</option>
                                                            <option value=" ">All Status</option>
                                                           <option value="Pending">Pending</option>
                                                           <option value="Recieved">Recieved</option>
                                                           <option value="Cancelled">Cancelled</option>
                                                           <option value="Delivered">Delivered</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-lg-5">
                                                            <label style="margin-right: 85%;">Search</label>
                                                          
                                                                <input type="text" placeholder="Search here" id="txtSearch" oninput="searchTextInTable('txtSearch','bookasettable')" style="line-height: 17px;">
                                                               
                                                            
                                                        </div>
                                                    </div>
                                                </div>

												<table class="table table-bordered" id="bookasettable">
													<thead class="thead-light">
														<tr>
                                                            <th>No</th>
                                                            <th>Name/Mobile no.</th>
                                                            
                                                            <th>School/Board/Class</th>
                                                            <th>Status</th>
                                                            <th>Link</th>
                                                            <th>Date</th>
                                                            <th>Action</th>

														</tr>
													</thead>
													<tbody id="bookaset">
													
													</tbody>
												</table>
											</div>
										</div>
									</div>
								
								</div>
							</div>
                            

						<!-- My Account Tab Content End -->
						</div>
					</div>
				</div>
			</div>

        </main>
        <!-- Cart Page End -->
    </div>




    <div class="page-section inner-page-sec-padding">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        
                        <!-- My Account Tab Menu End -->
                        <div class="col-lg-12 col-12 mt--30 mt-lg--0">
                            <div class="tab-content" id="myaccountContent">
                                
                                <div class="tab-pane fade active show" id="orders" role="tabpanel">
                                    <div class="myaccount-content">
                                        <h3>Contact Us</h3>
                                        <div class="myaccount-table table-responsive text-center">
                                            <table class="table table-bordered">
                                                <thead class="thead-light">
                                                    <tr>
                                                     
															<th>No</th>
															<th>Name</th>
															<th>Email</th>
															<th>Mobile no.</th>
                                                            <th>Message</th>
                                                           
                                                    </tr>
                                                </thead>
                                                <tbody id="contactus">
                                                   
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            
                            </div>
                        </div>
                        

                    <!-- My Account Tab Content End -->
                    </div>
                </div>
            </div>
        </div>

    </main>
    <!-- Cart Page End -->
</div>



<% include ../../partials/updbookaset %>
   
<% include ../../partials/footer %>
   
<% include ../../partials/script %>
<script type="text/javascript"  src="/js/pagination.js"></script>
<script src="/customjs/Admin/Records.js"></script>

<script>
	$(document).ready(function () { 
        FetchBookaset('Pending')
        FetchContactus()
        if(sessionStorage.Admin!='Y'){
            window.location='/';
        }
    });
    FillSchoolBoard();
        FillClassByBoard('0');
        FillSchoolByBoard('7');
    jQuery('#status').on('change', function () {
                if ($("#status").val() == "Recieved") {
                    $(".recievedDiv").show();
                    $("#recieved").hide();
                 }
               else if($("#status").val() == "Delivered") {
                    $("#recieved").show();
                    $(".recievedDiv").show();
                   
                }
                else {
                    $("#recieved").hide();
                    $(".recievedDiv").hide();
                  }
            });

</script>

</body>

</html>