
<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Pustakein - Reports</title>
    <% include ../../partials/head %>
    <style>
		.center1 {
		  text-align: center;
		}
		
		.pagination {
		  display: table-cell !important;
		}
		
		.pagination a {
		  color: black;
		  float: none;
		  padding: 8px 16px;
		  text-decoration: none;
		  transition: background-color .3s;
		  border: 1px solid #ddd;
		  margin: 4px 4px 4px 4px;
		}
		
		.pagination a.active {
		  background-color: #4CAF50;
		  color: white;
		  border: 1px solid #4CAF50;
		}
		
		.pagination a:hover:not(.active) {background-color: #ddd;}
		</style>
</head>

<body>
	<div class="site-wrapper" id="top">
		<% include ../../partials/header %>
		<section class="breadcrumb-section">
			<h2 class="sr-only">Site Breadcrumb</h2>
			<div class="container">
				<div class="breadcrumb-contents">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/">Home</a></li>
							<li class="breadcrumb-item active">Report</li>
						</ol>
					</nav>
				</div>
			</div>
		</section>
		<div class="page-section inner-page-sec-padding">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="row">
						
							<div class="col-lg-3 col-12">
								<div class="myaccount-tab-menu nav" role="tablist">
									<a href="#dashboad" class="active" data-toggle="tab"><i
											class="fas fa-tachometer-alt"></i>
										Reports</a>
                                    <a href="#orderdetail" data-toggle="tab" onclick="FetchBookaset('Recieved')"><i class="fas fa-sign-out-alt"></i> Order Details</a>
                                    <a href="#VendorOrders" data-toggle="tab" onclick="FetchVenderOrder()"><i class="fas fa-sign-out-alt"></i> Vendor Orders</a>
                                    <a href="#DeliveryOrders" data-toggle="tab" onclick="FetchDelivered('Delivered')"><i class="fas fa-sign-out-alt"></i> Delivered Orders</a>
                                    <a href="#Records" data-toggle="tab" onclick="fetchRecordst('Pending')"><i class="fas fa-sign-out-alt"></i>  Records</a>

                                    <a href="/"  onclick="sessionStorage.removeItem('Admin');"><i class="fas fa-sign-out-alt"></i> Logout</a>
                                   </div>
							</div>
						
							<div class="col-lg-9 col-12 mt--30 mt-lg--0">
								<div class="tab-content" id="myaccountContent">
									<!-- Single Tab Content Start -->
									<div class="tab-pane fade show active" id="dashboad" role="tabpanel">
										<div class="myaccount-content">
											<h3>Reports</h3>
											<div class="welcome mb-20">
												<p>Hello, <strong id="FirstName"> Admin [9755377626]</strong> (If Not You <a href="/" onclick="sessionStorage.removeItem('Admin');" class="logout">
														Logout</a>)</p>
											</div>
											<p class="mb-0">From your account Reports. you can easily check &amp; view
												
												recent, Pending, Recieved, Cancelled, Delivered orders.
										</div>
									</div>
								
									<div class="tab-pane fade" id="orderdetail" role="tabpanel">
										<div class="myaccount-content">
											<h3>Orders Details</h3> 

											<div class="account-details-form">
												<div class="row">
													<div class="col-lg-5">
														<label style="margin-right: 85%;">Search</label>
													    <input type="text" placeholder="Search here" id="txtSearch" oninput="searchTextInTable('txtSearch','ordertablebody')" style="line-height: 17px;">
													 </div>
												</div>
											</div>
											<button type="button" onclick="ExporttoExcel('tableglobal1','OrderDetails')" class="btn btn-success" style="background-color:#62AB00;border-color:#62AB00; font-size:13px;margin-top: -65px;; margin-left:623px">Excel</button>

                                            <!-- <a style="margin-left: 96%;" onclick="ExportExcel('tableglobal','OrderDetails')" style="font-size:30px; margin-bottom:10px;margin-top: 10px">Excel</a> -->
											<div class="myaccount-table table-responsive text-center">
											
												<table class="table table-bordered" id="tableglobal1">
													<thead class="thead-light">
														<tr>
                                                            <th>No</th>
															<th>Name / Mobile no.</th>
															<th>School/Board/Class</th>
                                                            <th>Calling Date</th>
														    <th>VendorPrice</th>
                                                            <th>Amount to be collected</th>
                                                            <th>Delivery</th>
                                                        </tr>
                        							</thead>
													<tbody id="ordertablebody">
													
													
													</tbody >
												</table>
											</div>
										</div>
                                    </div>
                                    



									<div class="tab-pane fade" id="VendorOrders" role="tabpanel">
										<div class="myaccount-content">
											<h3> Vendor Order</h3>
											<div class="account-details-form">
												<div class="row">
													<div class="col-lg-5">
														<label style="margin-right: 85%;">Search</label>
													    <!-- <input type="text" placeholder="Search here" id="txtSearch" oninput="searchTextInTable('VendorOrdertable')" style="line-height: 17px;"> -->
														<input type="text" placeholder="Search here" id="Searchtxt" oninput="searchTextInTable('Searchtxt','VendorOrdertable')" style="line-height: 17px;">

													</div>
												</div>
											</div>
											<button type="button" onclick="ExporttoExcel('tableglobal','VendorOrder')" class="btn btn-success" style="background-color:#62AB00;border-color:#62AB00; font-size:13px;margin-top: -65px;; margin-left:623px">Excel</button>


											<div class="myaccount-table table-responsive text-center">
												<table class="table table-bordered" id="tableglobal">
													<thead class="thead-light">
														<tr>
                                                            <th>No</th>
                                                            <th>School/Class</th>
                                                            <th>Subject</th>
                                                            <th>Optinal</th>
                                                            <th>Quantity</th>
														</tr>
													</thead>
													<tbody id="VendorOrdertable">
													
													
													</tbody >
												</table>
												
											</div>
										</div>
                                    </div>
                                    
                                   
									<div class="tab-pane fade" id="DeliveryOrders" role="tabpanel">
										<div class="myaccount-content">
											<h3> Delivered Order</h3>
											<div class="account-details-form">
												<div class="row">
													<div class="col-lg-5">
														<label style="margin-right: 85%;">Search</label>
													    <!-- <input type="text" placeholder="Search here" id="txtSearch" oninput="searchTextInTable('VendorOrdertable')" style="line-height: 17px;"> -->
														<input type="text" placeholder="Search here" id="Searchbox" oninput="searchTextInTable('Searchbox','deliveredOrdertable')" style="line-height: 17px;">

													</div>
												</div>
											</div>
											<button type="button" onclick="ExporttoExcel('tableglobal2','DeliveryOrder')" class="btn btn-success" style="background-color:#62AB00;border-color:#62AB00; font-size:13px;margin-top: -65px;; margin-left:623px">Excel</button>


											<div class="myaccount-table table-responsive text-center">
												<table class="table table-bordered" id="tableglobal2">
													<thead class="thead-light">
														<tr>
															<th>No</th>
															<th>Name / Mobile no.</th>
															<th>School/Board/Class</th>
															<th>Price</th>
                                                            <th>VendorPrice</th>
                                                            <th>Recieved Amount</th>
															<th>Delivery Date</th>
														</tr>
													</thead>
													<tbody id="deliveryOrdertable">
													
													
													</tbody>
												</table>
												
											</div>
										</div>
                                    </div>
									
									
									<div class="tab-pane fade" id="Records" role="tabpanel">
										<div class="myaccount-content">
											<h3> Records </h3>
											<div class="account-details-form">
												<div class="row">
													<div class="col-md-4 col-12 mb--20">
															
														<label style="margin-right: 85%;">Status</label>
														<select  id="vendorname" class="nice-select" onchange="fetchRecordst(this.value)" style="width: 100%;">
														 <option value=" ">Select Status</option>
														<option value=" ">All Status</option>
													   <option value="Pending">Pending</option>
													   <option value="Recieved">Recieved</option>
													   <option value="Cancelled">Cancelled</option>
													   <option value="Delivered">Delivered</option>
														</select>
													</div>
													<div class="col-lg-4">
														<label style="margin-right: 85%;">Search</label>
													    <!-- <input type="text" placeholder="Search here" id="txtSearch" oninput="searchTextInTable('VendorOrdertable')" style="line-height: 17px;"> -->
														<input type="text" placeholder="Search here" id="Searchrecordstable" oninput="searchTextInTable('Searchrecordstable','recordstable')" style="line-height: 17px;">

													</div>
													<button type="button" onclick="ExporttoExcel('tableglobal3','recordstable')" class="btn btn-success" style="background-color:#62AB00;border-color:#62AB00; font-size:13px;margin-top: -60px;; margin-left:638px;margin-bottom: 15px;">Excel</button>
												</div>

											</div>


											<div class="myaccount-table table-responsive text-center">
												<table class="table table-bordered" id="tableglobal3">
													<thead class="thead-light">
														<tr>
															<th>No</th>
															<th>Name / Mobile no.</th>
															<th>School/Board/Class</th>
															<th>Status</th>
															<th>Link</th>
															<th> Date</th>
														</tr>
													</thead>
													<tbody id="recordstable">
													
													
													</tbody>
												</table>
												
											</div>
										</div>
                                    </div>

								</div>
							</div>
						
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<% include ../../partials/footer %>
    <% include ../../partials/script %>
    <script src="/customjs/Admin/Report.js"></script>
    <script src="/js/pagination.js"></script>
    <script src="/js/table2excel.js"></script>
    <script>
        $(document).ready(()=>{
			
		
        });
    </script>
</body>

</html>