
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Pustakein -User Report</title>
    <% include ../../partials/head %>

    <style>
		.center1 {
		  text-align: center;
		}
		
		.pagination {
		  display: table-cell !important;
		}
		
		.pagination a {
		  color: black;
		  float: none;
		  padding: 8px 16px;
		  text-decoration: none;
		  transition: background-color .3s;
		  border: 1px solid #ddd;
		  margin: 4px 4px 4px 4px;
		}
		
		.pagination a.active {
		  background-color: #4CAF50;
		  color: white;
		  border: 1px solid #4CAF50;
		}
		
		.pagination a:hover:not(.active) {background-color: #ddd;}
		</style>
</head>

<body>
    <div class="site-wrapper" id="top">
      
<% include ../../partials/header %>
   

        <section class="breadcrumb-section">
            <h2 class="sr-only">Site Breadcrumb</h2>
            <div class="container">
                <div class="breadcrumb-contents">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active">Records</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </section>
        <!-- Cart Page Start -->
        <!-- <main class="contact_area inner-page-sec-padding-bottom"> -->
            <div class="page-section inner-page-sec-padding">
            <div class="container">
				<div class="row">
					<div class="col-12">
						<div class="row">
							
							<!-- My Account Tab Menu End -->
                            <div class="col-lg-12 col-12 mt--30 mt-lg--0">
								<div class="tab-content" id="myaccountContent">
									
									<div class="tab-pane fade active show" id="orders" role="tabpanel">
										<div class="myaccount-content">
											<h3>Pending user verification</h3>
											<div class="myaccount-table table-responsive text-center">
												<table class="table table-bordered">
													<thead class="thead-light">
														<tr>
                                                            <th>No</th>
                                                            <th>Mobile no.</th>
                                                            <th>OTP</th>
                                                            <th>Status</th>
                                                            <th>EntryDate</th>
                                                            
														</tr>
													</thead>
													<tbody id="pendinguser">
													
													</tbody>
												</table>
											</div>
										</div>
									</div>
								
								</div>
							</div>
                            

						<!-- My Account Tab Content End -->
						</div>
					</div>
				</div>
			</div>

        </main>
        <!-- Cart Page End -->
    </div>




    <div class="page-section inner-page-sec-padding">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        
                        <!-- My Account Tab Menu End -->
                        <div class="col-lg-12 col-12 mt--30 mt-lg--0">
                            <div class="tab-content" id="myaccountContent">
                                
                                <div class="tab-pane fade active show" id="orders" role="tabpanel">
                                    <div class="myaccount-content">
                                        <h3>User who did not order yet</h3>
                                        <div class="myaccount-table table-responsive text-center">
                                            <table class="table table-bordered">
                                                <thead class="thead-light">
                                                    <tr>
                                                     
															<th>No</th>
															<th>Name</th>
                                                            <th>Email</th>
                                                            <th>Mobile no.</th>
															<th>Address</th>
                                                            <th>Postal Code</th>
                                                           
                                                    </tr>
                                                </thead>
                                                <tbody id="usernotorderyet">
                                                   
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            
                            </div>
                        </div>
                        

                    <!-- My Account Tab Content End -->
                    </div>
                </div>
            </div>
        </div>

    </main>
    <!-- Cart Page End -->
</div>



   
<% include ../../partials/footer %>
   
<% include ../../partials/script %>
<script type="text/javascript"  src="/js/pagination.js"></script>
<script src="/customjs/Admin/Userlogindetail.js"></script>

<script>
$(document).ready(function () { 
    Fetchpendinguser()
        FetchUserDeta()
        if(sessionStorage.Admin!='Y'){
            window.location='/';
        }
    });
</script>
</body>

</html>